[class^="icon-"],
[class*=" icon-"] {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  /* fix buttons height */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-print {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80d;&nbsp;"
  );
}
.icon-enlarge-arrows {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe80e;&nbsp;"
  );
}
.icon-cancel {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe810;&nbsp;"
  );
}
.icon-arrow {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe820;&nbsp;"
  );
}
.icon-pdf {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe82b;&nbsp;"
  );
}
.icon-ppt {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe831;&nbsp;"
  );
}
.icon-xls {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe832;&nbsp;"
  );
}
.icon-doc {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe833;&nbsp;"
  );
}
.icon-menu-x {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe84e;&nbsp;"
  );
}
.icon-map-pin-plus {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe850;&nbsp;"
  );
}
.icon-info-full {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe853;&nbsp;"
  );
}
.icon-phone {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe856;&nbsp;"
  );
}
.icon-search {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe858;&nbsp;"
  );
}
.icon-info {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe859;&nbsp;"
  );
}
.icon-check {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe85a;&nbsp;"
  );
}
.icon-pointer {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe85c;&nbsp;"
  );
}
.icon-listview {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe85e;&nbsp;"
  );
}
.icon-blockview {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xe85f;&nbsp;"
  );
}
.icon-link-ext {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf08e;&nbsp;"
  );
}
.icon-twitter {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf099;&nbsp;"
  );
}
.icon-facebook {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf09a;&nbsp;"
  );
}
.icon-email-2 {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf0e0;&nbsp;"
  );
}
.icon-angle-right {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf105;&nbsp;"
  );
}
.icon-angle-down {
  *zoom: expression(
    this.runtimeStyle[ "zoom" ] = "1",
    this.innerHTML = "&#xf107;&nbsp;"
  );
}
