body.sb-show-main {
  background-color: unset;
}

div.sb-demo {
  margin-bottom: 20px;
}

code {
  background-color: #eee;
  display: block;
  padding: 3px;
}

code.sb-demo,
pre.sb-demo {
  display: block;
  white-space: pre;
  padding: 3px;
  overflow: auto;
  font-size: 0.75rem;
  margin-top: 0;
}

.sb-unstyled-button {
  border: none;
  padding: 0;
  outline: none;
}

.demo-box {
  background-color: #eee;
  text-align: center;
}

.sb-summary {
  background: #f5f2f0;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 0.75rem;
  color: #353535;
}

.sb-details {
  margin-bottom: 40px;
}

.sb-show-main {
  margin: 20px;
}

.sb-container {
  max-width: 1280px;
  width: auto;
}

.sb-container-bleed {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.sb-container-bleed .sb-details {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

tt {
  background-color: #eee;
  color: teal;
  display: inline-block;
  padding: 0 5px;
  border-radius: 2px;
}
