<p>Fontello ikoner</p>

<div class="grid">
  <div class="the-icons span3" title="Code: 0xe80d">
    <i class="demo-icon icon-print"> <!-- icon --></i>

    <span class="i-name">icon-print</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe80e">
    <i class="demo-icon icon-enlarge-arrows"> <!-- icon --></i>

    <span class="i-name">icon-enlarge-arrows</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe810">
    <i class="demo-icon icon-cancel"> <!-- icon --></i>

    <span class="i-name">icon-cancel</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe820">
    <i class="demo-icon icon-arrow"> <!-- icon --></i>

    <span class="i-name">icon-arrow</span>
  </div>

  <div class="the-icons span3" title="Code: 0xe82b">
    <i class="demo-icon icon-pdf"> <!-- icon --></i>

    <span class="i-name">icon-pdf</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe831">
    <i class="demo-icon icon-ppt"> <!-- icon --></i>

    <span class="i-name">icon-ppt</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe832">
    <i class="demo-icon icon-xls"> <!-- icon --></i>

    <span class="i-name">icon-xls</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe833">
    <i class="demo-icon icon-doc"> <!-- icon --></i>

    <span class="i-name">icon-doc</span>
  </div>

  <div class="the-icons span3" title="Code: 0xe84e">
    <i class="demo-icon icon-menu-x"> <!-- icon --></i>

    <span class="i-name">icon-menu-x</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe850">
    <i class="demo-icon icon-map-pin-plus"> <!-- icon --></i>

    <span class="i-name">icon-map-pin-plus</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe853">
    <i class="demo-icon icon-info-full"> <!-- icon --></i>

    <span class="i-name">icon-info-full</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe856">
    <i class="demo-icon icon-phone"> <!-- icon --></i>

    <span class="i-name">icon-phone</span>
  </div>

  <div class="the-icons span3" title="Code: 0xe858">
    <i class="demo-icon icon-search"> <!-- icon --></i>

    <span class="i-name">icon-search</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe859">
    <i class="demo-icon icon-info"> <!-- icon --></i>

    <span class="i-name">icon-info</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe85a">
    <i class="demo-icon icon-check"> <!-- icon --></i>

    <span class="i-name">icon-check</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe85c">
    <i class="demo-icon icon-pointer"> <!-- icon --></i>

    <span class="i-name">icon-pointer</span>
  </div>

  <div class="the-icons span3" title="Code: 0xe85e">
    <i class="demo-icon icon-listview"> <!-- icon --></i>

    <span class="i-name">icon-listview</span>
  </div>
  <div class="the-icons span3" title="Code: 0xe85f">
    <i class="demo-icon icon-blockview"> <!-- icon --></i>

    <span class="i-name">icon-blockview</span>
  </div>
  <div class="the-icons span3" title="Code: 0xf08e">
    <i class="demo-icon icon-link-ext"> <!-- icon --></i>

    <span class="i-name">icon-link-ext</span>
  </div>
  <div class="the-icons span3" title="Code: 0xf099">
    <i class="demo-icon icon-twitter"> <!-- icon --></i>

    <span class="i-name">icon-twitter</span>
  </div>

  <div class="the-icons span3" title="Code: 0xf09a">
    <i class="demo-icon icon-facebook"> <!-- icon --></i>

    <span class="i-name">icon-facebook</span>
  </div>
  <div class="the-icons span3" title="Code: 0xf0e0">
    <i class="demo-icon icon-email-2"> <!-- icon --></i>

    <span class="i-name">icon-email-2</span>
  </div>
  <div class="the-icons span3" title="Code: 0xf105">
    <i class="demo-icon icon-angle-right"> <!-- icon --></i>

    <span class="i-name">icon-angle-right</span>
  </div>
  <div class="the-icons span3" title="Code: 0xf107">
    <i class="demo-icon icon-angle-down"> <!-- icon --></i>

    <span class="i-name">icon-angle-down</span>
  </div>
</div>
