@import "./default.scss";

$global-theme-name: "1177" !default;
// Should we include CSS variables in mixins and :root element.
$use-css-variables: false !default;
// Used for color-tint and color-shade functions.
$theme-color-interval: 8% !default;

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

$colors: map-merge(
  $colors,
  (
    "black": #1e1e1e,
    "white": #ffffff,
    "main": #c12143,
    "secondary-dark": #6a0032,
    "secondary-light": #faeef0,
    "text": #353535,
    "text-light": #636466,
    "background": #fff,
    "cta": #396291,
    "cta-dark": #3b4266,
    "cta-light": #396291,
    "cta-text": white,
    "nav": #a00b36,
    "nav-dark": #a00b36,
    "nav-light": #a00b36,
    "nav-text": white,
    "muted": #636466,
    "heading": #353535,
    "highlight": #333,
    "information": #ffe699,
    "information-light": #fff8e0,
    "error": #c12143,
    "error-light": #faeef0,
    "success": #cfdebf,
    "success-light": #eef8ee,
    "observe": #dadbdc,
    "observe-light": #f1f2f2,
  )
);

$fonts: (
  body: (
    "Open Sans",
    arial,
    sans-serif,
  ),
  secondary: (
    "Inter UI",
    arial,
    sans-serif,
  ),
  heading: (
    "Inter UI",
    "Open Sans",
    sans-serif,
  ),
  monospace: (
    "monospace",
  ),
);

$spacing: map-merge(
  $spacing,
  (
    gutter: rem-calc(20),
    100: rem-calc(1),
    200: rem-calc(5),
    300: rem-calc(10),
    400: rem-calc(15),
    500: rem-calc(20),
    600: rem-calc(25),
    700: rem-calc(30),
    800: rem-calc(35),
    900: rem-calc(40),
    xl: rem-calc(50),
    xxl: rem-calc(90),
  )
);

$fontSizes: map-merge(
  $fontSizes,
  (
    h1: (
      em-calc(32),
      em-calc(32),
      em-calc(48),
    ),
    h2: (
      em-calc(22),
      em-calc(22),
      em-calc(24),
    ),
    h3: em-calc(20),
    h4: em-calc(16),
    sm: em-calc(14),
    xs: em-calc(12),
    preamble: (
      em-calc(18),
      em-calc(18),
      em-calc(22),
    ),
  )
);

$fontWeights: map-merge(
  $fontWeights,
  (
    "heading": 700,
    "bold": 600,
  )
);

$lineHeights: map-merge(
  $lineHeights,
  (
    "heading": 1.25,
  )
);

$boxShadow: map-merge(
  $boxShadow,
  (
    "card": 0 0 2px 0 rgba(0, 0, 0, 0.3),
  )
);

$radius: map-merge(
  $radius,
  (
    sm: rem-calc(4),
    md: rem-calc(10),
    lg: rem-calc(20),
    xl: rem-calc(50),
    xxl: rem-calc(100),
  )
);

/* Global variables */

$container-width: rem-calc(1280) !default;
$narrow-container-width: rem-calc(640) !default;
$gutter: rem-calc(20) !default;
$focus-offset: 2px !default;
$divider-color: get($colors, "stone-base") !default;
$page-padding-bottom: rem-calc(150);

/* Card */

$card-inspiration-top-border: true !default;
$card-inspiration-padding: rem-calc(25) rem-calc(20) rem-calc(20) !default;
$card-inspiration-title-color: get($colors, "main") !default;
$card-padding: get($spacing, "md") !default;

/* Form */

$input-background: get($colors, "sky-background") !default;
$input-border-color: get($colors, "cta") !default;
$input-disabled-background: get($colors, "white") !default;
$input-color: get($colors, "text"); // black?
$input-disabled-color: unset !default;
$input-disabled-border-color: get($colors, "stone-clear") !default;
$input-border-radius: get($radius, "card") !default;
$input-focus-box-shadow: inset 2px 6px 6px 0 rgba(99, 100, 102, 0.2);
$input-error-border-style: dashed;
$input-error-background-color: get($colors, "error-light") !default;
$input-error-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "error"), 0.2) !default;
$input-min-height: rem-calc(50) !default;
$input-padding: rem-calc(12) rem-calc(20) !default;
$input-placeholder-color: get($colors, "muted") !default;
$input-placeholder-font-style: italic !default;

$checkbox-border-color: $input-border-color !default;
$checkbox-border-radius: get($radius, "sm") !default;

$dropdown-font-weight: get($fontWeights, "bold");
$dropdown-icon-background: transparent !default;
$dropdown-icon-color: get($colors, "cta") !default;
$dropdown-disabled-icon-color: get($colors, "muted") !default;
$dropdown-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "muted"), 0.15);

$form-button-font-size: rem-calc(20);
$form-button-font-weight: get($fontWeights, "bold");
$form-button-border-radius: $input-min-height;
$form-button-disabled-color: get($colors, "stone-base");

%error-message-animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: bounceInDown;
}

/* header */
$page-header-background: linear-gradient(
  90deg,
  c("main") 50%,
  c("secondary-light") 50%
);
$page-header-inner-background: c("secondary-light");
$page-header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$page-header-faux-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.3) inset;
$page-header-logo-container-background: c("main");
$page-header-logo-width: rem-calc(120);
$page-header-mobile-tools-font-size: rem-calc(14);
$page-header-font: get($fonts, "secondary");

/* footer */
$page-footer-background: c("secondary-light");
$page-footer-padding-bottom: rem-calc(100);
$page-footer-heading-fontsize: rem-calc(24);

/* logo */
$logo-image: url("data:image/svg+xml,%3Csvg class='logo__svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 45'%3E%3Cg fill-rule='evenodd'%3E%3Cpath fill='%23ffffff' d='M25.255 23.922a3.18 3.18 0 0 0 3.18 3.17 3.18 3.18 0 0 0 3.184-3.17V3.173A3.18 3.18 0 0 0 28.435 0h-3.971A3.464 3.464 0 0 0 21 3.453c0 1.902 1.555 3.446 3.467 3.446h.788v17.023zM40.262 6.899v17.023a3.18 3.18 0 0 0 6.36 0V3.173A3.18 3.18 0 0 0 43.44 0h-3.972C37.558 0 36 1.55 36 3.453c0 1.902 1.558 3.446 3.47 3.446h.792zM55.46 6.899h6.623L66.075 0H55.46A3.46 3.46 0 0 0 52 3.453a3.455 3.455 0 0 0 3.46 3.446M68.434 1.586L56.43 22.327a3.167 3.167 0 0 0 1.162 4.336 3.189 3.189 0 0 0 4.35-1.159l12.006-20.74A3.17 3.17 0 0 0 72.78.42a3.197 3.197 0 0 0-4.347 1.166zM92.079 0H81.46A3.458 3.458 0 0 0 78 3.45a3.458 3.458 0 0 0 3.46 3.449h6.623L92.079 0zM83.589 26.663c1.523.88 3.467.36 4.35-1.16L99.948 4.766A3.183 3.183 0 0 0 98.782.419a3.204 3.204 0 0 0-4.35 1.166L82.426 22.33a3.167 3.167 0 0 0 1.163 4.333M8.17 34l-2.742 7.576-2.724-7.503L2.683 34H0l3.972 10.278.028.066h2.854l3.943-10.197.056-.147zM30.556 38.636h-2.181V36.11h2.181c.837 0 1.398.499 1.398 1.246 0 .765-.56 1.281-1.398 1.281m3.839-1.26c0-2.014-1.422-3.376-3.534-3.376H26v10.344h2.375v-3.603h1.414l2 3.603h2.746l-2.326-3.9c1.037-.296 2.186-1.26 2.186-3.068M42.112 42.24h-1.734v-6.131h1.751c1.86 0 3.065 1.204 3.065 3.058 0 1.808-1.265 3.072-3.082 3.072m0-8.239H38v10.344h4.13c3.277 0 5.484-2.077 5.484-5.177 0-3.093-2.21-5.167-5.502-5.167M55.89 40.783h2.682v1.072c-.406.342-1.198.712-2.042.712-1.797 0-3.096-1.358-3.096-3.222 0-1.868 1.3-3.222 3.096-3.222 1.09 0 1.912.656 2.318 1.27l.053.084 1.965-1.075-.06-.09C60.137 35.256 58.852 34 56.53 34 53.325 34 51 36.248 51 39.345c0 3.097 2.325 5.342 5.53 5.342 1.734 0 3.254-.66 4.392-1.938l.02-.021v-4.036H55.89v2.091zM71.966 40.124c0 1.427-.848 2.28-2.27 2.28-1.439 0-2.29-.853-2.29-2.28V34H65v6.186c0 2.755 1.713 4.34 4.696 4.34 2.977 0 4.686-1.585 4.686-4.34V34h-2.416v6.124zM78 44.344h2.371V34H78zM89.112 42.24h-1.737v-6.131h1.754c1.863 0 3.061 1.204 3.061 3.058 0 1.808-1.264 3.072-3.078 3.072m0-8.239H85v10.344h4.13c3.277 0 5.484-2.077 5.484-5.177 0-3.093-2.214-5.167-5.502-5.167M98 44.344h7.404V42.24h-5.03v-2.101h4.921v-2.106h-4.92v-1.92h5.029V34H98zM116.93 34v6.151l-4.513-6.102-.035-.049H110v10.344h2.375V37.96l4.685 6.385h2.252V34zM15.944 40.733l1.484-4.084 1.489 4.084h-2.973zm1.495-8.302c.483 0 .865.388.865.88 0 .5-.382.887-.865.887a.898.898 0 0 1-.886-.887c0-.475.406-.88.886-.88zm2.3.88A2.307 2.307 0 0 0 17.44 31a2.318 2.318 0 0 0-2.322 2.311c0 .594.245 1.142.627 1.56l-3.684 9.55-.06.139h2.683l.64-1.718h4.21l.641 1.718h2.683l-3.744-9.674c.392-.412.627-.964.627-1.575z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
$logo-image-width: rem-calc(60);
$logo-image-height: rem-calc(22);
$logo-image-width-lg: rem-calc(120);
$logo-image-height-lg: rem-calc(44);

/* topnav */
$topnav-fontsize: rem-calc(22);
$topnav-height: rem-calc(60);
$topnav-link-spacing: rem-calc(10);

/* mobile nav */
$navlist-background: get($colors, "main") !default;
$navlist-spacing-y: rem-calc(20) !default;
$navlist-spacing-x: rem-calc(14) !default;
$navlist-fontweight: get($fontWeights, "bold");

/* section */
$section-spacing: 50px;
$section-divider-color: get($colors, "stone-line") !default;
$section-header-border: get($colors, "stone-line") !default;

/* breadcrumbs */
$breadcrumb-divider-color: get($colors, "black") !default;

/* button */
$button-font-weight: get($fontWeights, "bold") !default;
$button-font-size: get($fontSizes, 400) !default;
$button-font-family: get($fonts, "secondary") !default;
$button-border-radius: 30px !default;
$button-box-shadow-hover: 0 3px 8px 0 rgba(99, 100, 102, 0.2);
$button-padding: 0 get($spacing, 700) !default;
$button-min-height: rem-calc(50);
$secondary-button-background-hover: get($colors, "sky-background") !default;

/* alert */
$alert-local-border-color: get($colors, "stone-clear") !default;
$alert-info-border-color: get($colors, "stone-clear") !default;

/* typography */
$h1-color: get($colors, "main") !default;
$h2-color: get($colors, "main") !default;
$h1-line-height: 1.08 !default;

$preamble-font-weight: get($fontWeights, "light") !default;
$preamble-margin-bottom: rem-calc(30) !default;
$preamble-margin-top: rem-calc(30) !default;

$link-list-headline-use-divider: true !default;

$table-footer-color: get($colors, "muted") !default;

%user-icon {
  @extend .iu-svg-icon-bg;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cg fill='none'%3E%3Cpath fill='%23A00B36' d='M28.25 12c0-4.028-3.549-7.25-8.25-7.25-3.845 0-7.25 3.354-7.25 7.25 0 4.424 3.693 9.25 7.25 9.25 4.397 0 8.25-4.642 8.25-9.25zm1.5 0c0 5.381-4.457 10.75-9.75 10.75-4.486 0-8.75-5.572-8.75-10.75 0-4.73 4.082-8.75 8.75-8.75 5.499 0 9.75 3.86 9.75 8.75z'/%3E%3Cg fill='%23A00B36'%3E%3Cpath d='M32.965 36.25a52.353 52.353 0 01-.213-.707l-.291-1.006c-.973-3.379-1.59-4.818-2.896-6.151-1.698-1.734-4.366-2.636-8.565-2.636-4.658 0-7.609.933-9.457 2.718-1.409 1.36-2.05 2.81-3.055 6.258l-.24.818a56.56 56.56 0 01-.213.706h24.93zm-26.673.504c.166-.48.325-.984.518-1.636l.238-.812c1.076-3.693 1.794-5.315 3.453-6.917 2.163-2.09 5.484-3.139 10.499-3.139 4.571 0 7.625 1.033 9.636 3.086 1.54 1.57 2.226 3.171 3.266 6.786.197.684.211.732.289.997.188.64.35 1.15.517 1.635a.75.75 0 01-.708.996H7a.75.75 0 01-.708-.996z'/%3E%3Cpath d='M28.991 36.52a.75.75 0 11-1.471.292l-.761-3.833a.75.75 0 011.471-.292l.761 3.833zm-16.689-3.833a.75.75 0 011.472.292l-.761 3.833a.75.75 0 11-1.472-.292l.761-3.833z'/%3E%3C/g%3E%3Cpath fill='%23C12143' d='M19.25 11.75H16a.75.75 0 110-1.5h4a.75.75 0 01.75.75v4.25H22a.75.75 0 110 1.5h-2a.75.75 0 01-.75-.75v-4.25z'/%3E%3C/g%3E%3C/svg%3E");
}

%link-chevron {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11'%3E%3Cpath fill='%23C12143' d='M4.163 5.577l-3.87-3.87c-.39-.39-.39-1.024 0-1.414.39-.39 1.024-.39 1.414 0L6.284 4.87c.39.39.39 1.024 0 1.414l-4.577 4.577c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.024 0-1.414l3.87-3.87z' transform='translate(-730 -3076) translate(0 2872) translate(730 119) translate(0 85)'/%3E%3C/svg%3E%0A");
}

/** custom styles */

%ic-page-header__logo-container {
  /* add the curved edge to the logo */
  position: relative;
  margin-right: rem-calc(9);
  padding-right: get($spacing, "gutter");

  @include im-basic-breakpoint("lg") {
    padding-right: rem-calc(56);
  }

  &:after {
    content: "";
    background-color: c("main");
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    top: 0;
    margin-top: rem-calc(-125);
    clip: rect(rem-calc(125), rem-calc(300), rem-calc(175), rem-calc(290));
    height: rem-calc(300);
    width: rem-calc(300);
    right: rem-calc(-9);

    @include im-basic-breakpoint("lg") {
      top: 50%;
      margin-top: rem-calc(-200);
      clip: rect(rem-calc(140), rem-calc(400), rem-calc(260), rem-calc(390));
      height: rem-calc(400);
      width: rem-calc(400);
      left: auto;
    }
  }
}

%ic-page-footer {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgaGVpZ2h0PSIzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwYzI1MS4zODcgNy40MDggNDk1LjE4NiAxMS4xMTIgNzMxLjM5NSAxMS4xMTJDOTY3LjYwNSAxMS4xMTIgMTIwMy44MDYgNy40MDggMTQ0MCAwdjMwSDBWMHoiIGZpbGw9IiNGQUVFRjAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  background-size: 100% rem-calc(30);
  background-repeat: no-repeat;
  background-color: c("background");
  padding-top: rem-calc(30);
}

%ic-page-footer__inner {
  @include im-basic-breakpoint(lg) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgaGVpZ2h0PSIzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwYzI1MS4zODcgNy40MDggNDk1LjE4NiAxMS4xMTIgNzMxLjM5NSAxMS4xMTJDOTY3LjYwNSAxMS4xMTIgMTIwMy44MDYgNy40MDggMTQ0MCAwdjMwSDBWMHoiIGZpbGw9IiNDMTIxNDMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% rem-calc(30);
  }
}

%ic-topnav__link {
  &:after {
    background: #c12143;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 10px;
    right: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 0;
  }
  &.selected:after,
  &:hover:after {
    width: auto;
    right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
}

%ic-text-ul {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li {
    position: relative;
    &:before {
      background: get($colors, "main");
      position: relative;
      border-radius: 50%;
      content: "";
      display: inline-block;
      left: 0;
      margin-left: rem-calc(-25);
      margin-right: rem-calc(15);
      bottom: rem-calc(2);
      height: rem-calc(8);
      width: rem-calc(8);
    }
  }
}

%ic-text-ol {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li:before {
    display: inline-block;
    font-weight: 700;
    margin-left: rem-calc(-25);
    margin-right: rem-calc(15);
    position: relative;
    content: counter(item) ".";
  }
}

%article-list-item {
  border-radius: 0;
  border: none;
  &:hover {
    box-shadow: 0 4px 0 0 rgba(get($colors, "cta"), 0.5);
  }
}

%info-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23808285' fill-rule='nonzero' d='M14.7580645,29.516129 C6.60741055,29.516129 0,22.9087185 0,14.7580645 C0,6.60741055 6.60741055,0 14.7580645,0 C22.9087185,0 29.516129,6.60741055 29.516129,14.7580645 C29.516129,22.9087185 22.9087185,29.516129 14.7580645,29.516129 Z M14.7580645,28.0645161 C22.1070148,28.0645161 28.0645161,22.1070148 28.0645161,14.7580645 C28.0645161,7.40911422 22.1070148,1.4516129 14.7580645,1.4516129 C7.40911422,1.4516129 1.4516129,7.40911422 1.4516129,14.7580645 C1.4516129,22.1070148 7.40911422,28.0645161 14.7580645,28.0645161 Z'/%3E%3Cpath fill='%23353535' d='M14.9225806,10.2967742 L14.9032258,10.2967742 C14.2258065,10.2967742 13.2387097,9.89032258 13.2387097,8.84516129 C13.2387097,8.20645161 13.683871,7.41290323 14.9612903,7.41290323 C15.716129,7.41290323 16.5870968,7.91612903 16.5870968,8.82580645 C16.5870968,9.75483871 15.7354839,10.2967742 14.9225806,10.2967742 Z M13.4709677,18.116129 L13.4709677,14.8064516 C13.4709677,13.7806452 13.4322581,13.5483871 12.6580645,13.4709677 C12.1354839,13.4129032 12,13.3935484 12,13.1225806 C12,12.7935484 12.2516129,12.7548387 12.7741935,12.6967742 C13.8387097,12.5806452 14.8258065,12.116129 15.6387097,11.6129032 C15.9677419,11.4 16.0451613,11.3419355 16.1806452,11.3419355 C16.3548387,11.3419355 16.3935484,11.4774194 16.3935484,11.7483871 C16.3935484,11.9806452 16.3741935,12.2516129 16.3741935,12.5806452 L16.3741935,18.3290323 C16.3741935,19.2 16.4129032,19.5677419 17.1870968,19.7032258 C17.4967742,19.7612903 17.7290323,19.8 17.7290323,20.0709677 C17.7290323,20.3612903 17.4774194,20.3806452 17.3419355,20.3806452 C16.8193548,20.3806452 15.8903226,20.3225806 15.0580645,20.3225806 C13.4129032,20.3225806 12.9096774,20.3806452 12.3290323,20.3806452 C12.1935484,20.3806452 11.9032258,20.3806452 11.9032258,20.0709677 C11.9032258,19.7419355 12.1935484,19.7225806 12.5225806,19.683871 C13.4709677,19.6064516 13.4709677,19.2774194 13.4709677,18.116129 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

%observe-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23636466' fill-rule='nonzero' d='M14.7580645,29.516129 C6.60741055,29.516129 0,22.9087185 0,14.7580645 C0,6.60741055 6.60741055,0 14.7580645,0 C22.9087185,0 29.516129,6.60741055 29.516129,14.7580645 C29.516129,22.9087185 22.9087185,29.516129 14.7580645,29.516129 Z M14.7580645,28.0645161 C22.1070148,28.0645161 28.0645161,22.1070148 28.0645161,14.7580645 C28.0645161,7.40911422 22.1070148,1.4516129 14.7580645,1.4516129 C7.40911422,1.4516129 1.4516129,7.40911422 1.4516129,14.7580645 C1.4516129,22.1070148 7.40911422,28.0645161 14.7580645,28.0645161 Z'/%3E%3Cpath fill='%23353535' d='M1.37160274,9.8953646 C1.33350248,8.94550894 1.27317796,8.13554144 1.19062738,7.46543779 C1.1080768,6.79533414 1.01600254,6.21957411 0.914401829,5.73814042 C0.812801118,5.25670673 0.708026956,4.84684365 0.6000762,4.5085389 C0.492125445,4.17023414 0.393701232,3.86446328 0.30480061,3.59121713 C0.215899987,3.31797098 0.142875572,3.05774046 0.0857251715,2.81051776 C0.0285747714,2.56329505 0,2.28354724 0,1.97126593 C0,0.657082071 0.812793498,0 2.43840488,0 C4.03861608,0 4.83870968,0.657082071 4.83870968,1.97126593 C4.83870968,2.28354724 4.81330988,2.56329505 4.76250953,2.81051776 C4.71170917,3.05774046 4.64185973,3.31797098 4.55295911,3.59121713 C4.46405848,3.86446328 4.36880925,4.17023414 4.26720853,4.5085389 C4.16560782,4.84684365 4.06083366,5.25670673 3.95288291,5.73814042 C3.84493215,6.21957411 3.74333296,6.79858702 3.6480823,7.47519653 C3.55283163,8.15180604 3.47345726,8.95852066 3.40995682,9.8953646 L1.37160274,9.8953646 Z M0.419100838,13.4540526 C0.419100838,13.1808064 0.469900432,12.9238288 0.571501143,12.683112 C0.673101854,12.4423951 0.815975711,12.2309578 1.000127,12.0487937 C1.18427829,11.8666296 1.39700159,11.7235028 1.63830328,11.6194091 C1.87960497,11.5153153 2.13360293,11.4632692 2.4003048,11.4632692 C2.66700667,11.4632692 2.91782966,11.5153153 3.15278131,11.6194091 C3.38773295,11.7235028 3.5941063,11.8666296 3.77190754,12.0487937 C3.94970879,12.2309578 4.08940767,12.4423951 4.19100838,12.683112 C4.29260909,12.9238288 4.34340869,13.1808064 4.34340869,13.4540526 C4.34340869,13.7272987 4.29260909,13.9875293 4.19100838,14.234752 C4.08940767,14.4819747 3.94970879,14.6999177 3.77190754,14.8885877 C3.5941063,15.0772577 3.38773295,15.2236373 3.15278131,15.3277311 C2.91782966,15.4318249 2.66700667,15.483871 2.4003048,15.483871 C2.13360293,15.483871 1.87960497,15.4318249 1.63830328,15.3277311 C1.39700159,15.2236373 1.18427829,15.0772577 1.000127,14.8885877 C0.815975711,14.6999177 0.673101854,14.4819747 0.571501143,14.234752 C0.469900432,13.9875293 0.419100838,13.7272987 0.419100838,13.4540526 Z' transform='translate(12.339 7.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
}

%error-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23C12143' fill-rule='nonzero' d='M14.7580645,29.516129 C6.60741055,29.516129 0,22.9087185 0,14.7580645 C0,6.60741055 6.60741055,0 14.7580645,0 C22.9087185,0 29.516129,6.60741055 29.516129,14.7580645 C29.516129,22.9087185 22.9087185,29.516129 14.7580645,29.516129 Z M14.7580645,28.0645161 C22.1070148,28.0645161 28.0645161,22.1070148 28.0645161,14.7580645 C28.0645161,7.40911422 22.1070148,1.4516129 14.7580645,1.4516129 C7.40911422,1.4516129 1.4516129,7.40911422 1.4516129,14.7580645 C1.4516129,22.1070148 7.40911422,28.0645161 14.7580645,28.0645161 Z'/%3E%3Cpath fill='%236A0032' d='M1.37160274,9.8953646 C1.33350248,8.94550894 1.27317796,8.13554144 1.19062738,7.46543779 C1.1080768,6.79533414 1.01600254,6.21957411 0.914401829,5.73814042 C0.812801118,5.25670673 0.708026956,4.84684365 0.6000762,4.5085389 C0.492125445,4.17023414 0.393701232,3.86446328 0.30480061,3.59121713 C0.215899987,3.31797098 0.142875572,3.05774046 0.0857251715,2.81051776 C0.0285747714,2.56329505 0,2.28354724 0,1.97126593 C0,0.657082071 0.812793498,0 2.43840488,0 C4.03861608,0 4.83870968,0.657082071 4.83870968,1.97126593 C4.83870968,2.28354724 4.81330988,2.56329505 4.76250953,2.81051776 C4.71170917,3.05774046 4.64185973,3.31797098 4.55295911,3.59121713 C4.46405848,3.86446328 4.36880925,4.17023414 4.26720853,4.5085389 C4.16560782,4.84684365 4.06083366,5.25670673 3.95288291,5.73814042 C3.84493215,6.21957411 3.74333296,6.79858702 3.6480823,7.47519653 C3.55283163,8.15180604 3.47345726,8.95852066 3.40995682,9.8953646 L1.37160274,9.8953646 Z M0.419100838,13.4540526 C0.419100838,13.1808064 0.469900432,12.9238288 0.571501143,12.683112 C0.673101854,12.4423951 0.815975711,12.2309578 1.000127,12.0487937 C1.18427829,11.8666296 1.39700159,11.7235028 1.63830328,11.6194091 C1.87960497,11.5153153 2.13360293,11.4632692 2.4003048,11.4632692 C2.66700667,11.4632692 2.91782966,11.5153153 3.15278131,11.6194091 C3.38773295,11.7235028 3.5941063,11.8666296 3.77190754,12.0487937 C3.94970879,12.2309578 4.08940767,12.4423951 4.19100838,12.683112 C4.29260909,12.9238288 4.34340869,13.1808064 4.34340869,13.4540526 C4.34340869,13.7272987 4.29260909,13.9875293 4.19100838,14.234752 C4.08940767,14.4819747 3.94970879,14.6999177 3.77190754,14.8885877 C3.5941063,15.0772577 3.38773295,15.2236373 3.15278131,15.3277311 C2.91782966,15.4318249 2.66700667,15.483871 2.4003048,15.483871 C2.13360293,15.483871 1.87960497,15.4318249 1.63830328,15.3277311 C1.39700159,15.2236373 1.18427829,15.0772577 1.000127,14.8885877 C0.815975711,14.6999177 0.673101854,14.4819747 0.571501143,14.234752 C0.469900432,13.9875293 0.419100838,13.7272987 0.419100838,13.4540526 Z' transform='translate(12.339 7.5)'/%3E%3C/g%3E%3C/svg%3E%0A");
}

%success-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23419002' fill-rule='nonzero' d='M14.7580645,29.516129 C6.60741055,29.516129 0,22.9087185 0,14.7580645 C0,6.60741055 6.60741055,0 14.7580645,0 C22.9087185,0 29.516129,6.60741055 29.516129,14.7580645 C29.516129,22.9087185 22.9087185,29.516129 14.7580645,29.516129 Z M14.7580645,28.0645161 C22.1070148,28.0645161 28.0645161,22.1070148 28.0645161,14.7580645 C28.0645161,7.40911422 22.1070148,1.4516129 14.7580645,1.4516129 C7.40911422,1.4516129 1.4516129,7.40911422 1.4516129,14.7580645 C1.4516129,22.1070148 7.40911422,28.0645161 14.7580645,28.0645161 Z'/%3E%3Cpath fill='%23395428' d='M14.8700431,0.28344505 C15.2412039,0.661371784 15.2412039,1.27411209 14.8700431,1.65203882 C8.77645733,7.87859444 5.70960142,11.0121508 5.66947534,11.0527079 C5.29695777,11.4291936 4.64271684,11.3734438 4.208179,10.9281789 L0.536443907,7.16580324 C0.101906058,6.72053837 0.0516219277,6.05437118 0.424122812,5.67786882 C0.796640389,5.30138316 1.45088131,5.35713296 1.88541916,5.80239783 L4.98522383,8.97967742 L13.525951,0.28344505 C13.8971118,-0.0944816835 14.4988823,-0.0944816835 14.8700431,0.28344505 Z' transform='translate(7.742 8.71)'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* TODO: Fix the arrow icon */
.icon-arrow.icon-arrow:before {
  font-size: rem-calc(10);
  width: 1.6em;
  height: 1.6em;
}
