@import "./core-functions.scss";

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
) !default;

$colors: (
  "transparent": transparent,
  "black": #000000,
  "white": #ffffff,
  "main": #000,
  "secondary-dark": #333,
  "secondary-light": #ccc,
  "text": #000,
  "text-light": #333,
  "background": #fff,
  "body": #fff,
  "cta": #666,
  "cta-dark": #333,
  "cta-light": #999,
  "cta-text": white,
  "nav": #333,
  "nav-current": #a00b36,
  "nav-dark": #999,
  "nav-light": #666,
  "nav-text": white,
  "muted-light": #666,
  "muted": #666,
  "muted-dark": #666,
  "heading": #000,
  "highlight": rgb(15, 14, 14),
  "error": red,
  "error-light": red,
  "success": green,
  "success-light": green,
  "information": blue,
  "information-light": blue,
  "observe": grey,
  "observe-light": lightgrey,
  "grey-100": #f5f5f5,
  "grey-200": #eee,
  "grey-300": #e0e0e0,
  "grey-400": #bdbdbd,
  "grey-500": #9e9e9e,
  "grey-600": #757575,
  "grey-700": #616161,
  "grey-800": #424242,
  "grey-900": #212121,
  "sky-base": #396291,
  "sky-dark": #3b4266,
  "sky-clear": #0097e3,
  "sky-line": #c6d2df,
  "sky-background": #f1f1f5,
  "grass-base": #419002,
  "grass-dark": #395428,
  "grass-clear": #6fbb2b,
  "grass-line": #cfdebf,
  "grass-background": #eef8ee,
  "plum-base": #a9428b,
  "plum-dark": #59244c,
  "plum-clear": #f4739f,
  "plum-line": #f5c9d8,
  "plum-background": #f6eef6,
  "sun-base": #fa8100,
  "sun-dark": #75260c,
  "sun-clear": #ffc100,
  "sun-line": #ffe699,
  "sun-background": #fff8e0,
  "stone-base": #636466,
  "stone-dark": #353535,
  "stone-clear": #808285,
  "stone-line": #dadbdc,
  "stone-background": #f1f2f2,
);

$fonts: (
  body: (
    "Open Sans",
    arial,
    sans-serif,
  ),
  secondary: (
    "Open Sans",
    arial,
    sans-serif,
  ),
  heading: (
    helvetica,
    "open sans",
  ),
  monospace: (
    "monospace",
  ),
);

$textTransform: (
  button: uppercase,
  capitalize: capitalize,
  none: none,
  initial: initial,
  uc: uppercase,
  lc: lowercase,
);

$fontSizes: (
  body: 1rem,
  100: rem-calc(12),
  200: rem-calc(14),
  300: rem-calc(16),
  400: rem-calc(18),
  500: rem-calc(22),
  600: rem-calc(24),
  700: rem-calc(28),
  800: rem-calc(32),
  900: rem-calc(44),
  h1: rem-calc(44),
  h2: rem-calc(32),
  h3: rem-calc(22),
  h4: rem-calc(18),
  preamble: rem-calc(18),
  xs: rem-calc(14),
  sm: rem-calc(16),
  md: rem-calc(20),
  lg: rem-calc(24),
  xl: rem-calc(48),
  xxl: rem-calc(64),
);

$fontWeights: (
  "normal": normal,
  "light": 300,
  "body": 400,
  "heading": 700,
  "bold": 700,
);

$lineHeights: (
  one: 1,
  narrow: 1.25,
  body: 1.64,
  heading: 1.18,
);

$radius: (
  none: 0,
  round: 50%,
  card: rem-calc(10),
  100: rem-calc(1),
  200: rem-calc(2),
  300: rem-calc(3),
  400: rem-calc(4),
  500: rem-calc(5),
  600: rem-calc(6),
  700: rem-calc(7),
  800: rem-calc(8),
  900: rem-calc(9),
  xs: rem-calc(1),
  sm: rem-calc(3),
  md: rem-calc(5),
  lg: rem-calc(20),
  xl: rem-calc(100),
);

$boxShadow: (
  none: none,
  card: 0 0 6px 0 rgba(0, 0, 0, 0.3),
  xs: 0 2px 4px 0 rgba(27, 27, 27, 0.2),
  sm: 0 2px 4px 0 rgba(27, 27, 27, 0.2),
  md: 0 2px 4px 0 rgba(27, 27, 27, 0.2),
  lg: 0 2px 4px 0 rgba(27, 27, 27, 0.2),
  xl: 0 2px 4px 0 rgba(27, 27, 27, 0.2),
);

$spacing: (
  none: 0,
  gutter: rem-calc(20),
  "05em": 0.5em,
  "05rem": 0.5rem,
  1em: 1em,
  1rem: 1rem,
  100: rem-calc(1),
  200: rem-calc(5),
  300: rem-calc(10),
  400: rem-calc(15),
  500: rem-calc(20),
  600: rem-calc(25),
  700: rem-calc(30),
  800: rem-calc(35),
  900: rem-calc(40),
  xs: rem-calc(1),
  sm: rem-calc(8),
  md: rem-calc(13),
  lg: rem-calc(20),
  xl: rem-calc(40),
  xxl: rem-calc(80),
);
