/******************************************************************************
*
* A link element
*
* <a href="http://www.example.com" class="c-link">Click on me!</a>
*
*/

.ic-link {
  @extend %link;
  text-decoration: underline;
}

.ic-nav-link {
  @extend %link;
  color: $nav-link-color;
  &:active,
  &:visited {
    color: $nav-link-color;
  }
  &:hover {
    color: $nav-link-hover-color;
  }
}

.ic-chevron-link,
.ic-link-chevron {
  &:before {
    content: "";
    text-decoration: none;
    @include chevron($color: currentColor, $dir: "right", $width: rem-calc(1));
    margin-right: 1em;
  }
}

.ic-link--white {
  color: white;
}

.ic-link--external [class*="icon-"] {
  margin-left: em-calc(5);
}
