$alert-text: get($colors, "text") !default;
$global-alert-text: $alert-text !default;
$alert-padding: rem-calc(30) !default;
$alert-radius: get($radius, "card") !default;
$alert-info-border-color: get($colors, "information") !default;
$alert-local-border-color: get($colors, "information") !default;

.ic-alert {
  padding: $alert-padding;
  border-radius: $alert-radius;
  border-style: solid;
  border-width: rem-calc(1);
  background-color: get($colors, "background");
  color: $alert-text;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.ic-alert--status {
  border-style: dashed;
}

.ic-alert--observe {
  background-color: get($colors, "observe-light");
  border-color: get($colors, "observe");
}

.ic-alert--success {
  background-color: get($colors, "success-light");
  border-color: get($colors, "success");
}

.ic-alert--error {
  background-color: get($colors, "error-light");
  border-color: get($colors, "error");
}

.ic-alert--info {
  background-color: get($colors, "information-light");
  border-color: $alert-info-border-color; // get($colors, "information");
}

.ic-alert--info.ic-alert--status {
  // border-color: get($colors, "stone-clear");
}

.ic-alert__body > * + * {
  margin-top: 1rem;
}

.ic-alert__body ul {
  @extend .ic-discrete-list;
}

.ic-alert__headline {
  @extend .h3;
  display: flex;
  align-items: center;
  flex: 1 0 100%;
}

.ic-alert__headline + * {
  margin-top: rem-calc(10);
}

.ic-alert__icon {
  width: rem-calc(30);
  height: rem-calc(30);
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100% 100%;
  margin: 0 0.5em;
  /*
  @supports (margin-inline-end: 0.5em) {
    margin: unset;
    margin-inline-end: 0.5em;
  }
  */
  flex: 0 0 auto;
}

.ic-info-icon {
  @extend %info-icon !optional;
}

.ic-error-icon {
  @extend %error-icon !optional;
}

.ic-observe-icon {
  @extend %observe-icon !optional;
}

.ic-success-icon {
  @extend %success-icon !optional;
}

/*
  Local alert

*/

.ic-alert--local {
  @extend .ic-alert--info;
  display: block;
  line-height: rem-calc(28);
  padding: rem-calc(20);
  border-style: dashed;
  border-color: $alert-local-border-color;
  @include im-breakpoint(lg) {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-items: center;
  }
}

.ic-alert--local p {
  max-width: rem-calc(830);
  flex: 1 0 auto;
  font-size: get($fontSizes, 400);
  @include im-breakpoint(lg) {
    font-size: get($fontSizes, "body");
  }
}

.ic-alert--local .ic-alert__icon {
  float: left;
  width: rem-calc(23);
  height: rem-calc(23);
  position: relative;
  top: 3px;
  @include im-breakpoint(lg) {
    top: unset;
    flex: 0 0 rem-calc(53);
    width: rem-calc(53);
    height: rem-calc(53);
    display: inline-block;
    /* margin-inline-end: 1em; */
    margin-right: 1em;
    align-self: flex-start;
  }
}

/*
  Global alert!
  Should only be used directly under the page-header

*/

.ic-global-alert {
  font-family: get($fonts, "body");
  line-height: rem-calc(26);
  background-color: get($colors, "information-light");
  color: $global-alert-text;
  font-size: rem-calc(16);
  @include im-breakpoint(lg) {
    font-size: rem-calc(18);
  }
  position: relative;
  /* create a block-formating-context (BFC) */
  overflow: auto;
  @supports (display: flow-root) {
    display: flow-root;
    overflow: unset;
  }
}

.ic-global-alert:after {
  content: "";
  position: absolute;
  bottom: -10px;
  z-index: 10;
  height: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  width: 100%;
}

.ic-global-alert__inner {
  @extend .ic-container;
  position: static;
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(25);
  display: grid;
  grid-template-columns: rem-calc(30) 1fr rem-calc(40);
  align-items: flex-start;
  column-gap: rem-calc(10);

  @include im-breakpoint(lg) {
    grid-template-columns: rem-calc(40) 1fr rem-calc(220);
    column-gap: rem-calc(20);
  }
}

.ic-global-alert--expandable .ic-global-alert__inner {
  align-items: center;
}

/*
make sure clickable elements get a position so they dont
end up "under" the alert-expand button pseudo-element that stretches the whole
width and hight of a closed alert.
*/
.ic-global-alert--expandable .ic-globla-alert__body a[href],
.ic-global-alert--expandable .ic-globla-alert__body button {
  position: relative
}

.ic-global-alert__footer,
.ic-global-alert__body {
  max-width: rem-calc(920);
  grid-column-end: 1;
  grid-column-start: 3;

  @include im-breakpoint(md) {
    grid-column-end: 2;
    grid-column-start: 2;
  }
}

.ic-global-alert__footer {
  margin-top: rem-calc(10);
}

.ic-global-alert__headline {
  @include fontWeight("heading");
  line-height: inherit;
  color: inherit;
  // TODO: use with headline level variable
  font-size: inherit;
}

.ic-global-alert__expand {
  padding-left: 1em;
  padding-right: 1em;
  color: get($colors, "muted");
  line-height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  @supports (display: grid) {
    position: static;
  }
}

.ic-global-alert__expand:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: rem-calc(76);
}

.ic-global-alert__expand:after {
  content: "";
  pointer-events: none;
  position: relative;

  top: rem-calc(-4);
  @include chevron(
    $dir: down,
    $width: rem-calc(2),
    $size: rem-calc(5),
    $color: get($colors, "text")
  );
}

.ic-global-alert__expand[aria-expanded="true"]:after {
  top: rem-calc(2);
  @include chevron(
    $dir: up,
    $width: rem-calc(2),
    $size: rem-calc(5),
    $color: get($colors, "text")
  );
}

.ic-global-alert__expand {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-size: rem-calc(14);
  font-family: $button-font-family;
}

.ic-global-alert__expand span {
  color: get($colors, "muted");
  padding-left: 1em;
  padding-right: 1em;
  line-height: inherit;

  /* TODO: sr only for small screens */
  display: none;

  @include im-breakpoint(lg) {
    display: inline-block;
  }
}

.ic-global-alert__icon {
  @extend .ic-alert__icon;
  position: relative;
  float: left;
  width: rem-calc(26);
  height: rem-calc(26);
  @include im-breakpoint(lg) {
    float: none;
    width: rem-calc(40);
    height: rem-calc(40);
  }
}

.ic-global-alert__body {
  padding-top: rem-calc(10);
}

.ic-global-alert__body--hidden {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.ic-global-alert--expanded .ic-global-alert__body {
  height: auto;
  overflow: unset;
}

/* Ombudsläge */

.ic-agent-notice .ic-global-alert__inner {
  grid-template-columns: 1fr 2.5rem;
  .ic-global-alert__icon {
    display: none;
  }

  @include im-breakpoint(md) {
    grid-template-columns: 2.5rem 1fr 13.75rem;

    .ic-global-alert__icon {
      display: inline-block;
    }
  }
}
