@keyframes bounceInDown {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 12px, 0);
  }
  75% {
    transform: translate3d(0, -5px, 0);
  }
  90% {
    transform: translate3d(0, 2px, 0);
  }
  100% {
    transform: translateZ(0);
  }
}
