$badge-font-weight: 600 !default;
// $badge-font-size: list("sm", "md", "lg") (breakpoints).
$badge-font-size: (
  get($fontSizes, "xs"),
  get($fontSizes, "sm"),
  get($fontSizes, "sm")
) !default;
$badge-status-color: get($colors, "error");

.ic-badge-status,
.ic-badge {
  border-radius: rem-calc(5);
  min-height: rem-calc(30);
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
}

.ic-badge {
  background-color: get($colors, "sky-background");
  color: get($colors, "text");

  padding: rem-calc(2) rem-calc(8);
  font-size: nth($badge-font-size, 1);

  @include im-breakpoint("md") {
    font-size: nth($badge-font-size, 2);
    padding: rem-calc(8) rem-calc(12);
    min-height: rem-calc(40);
  }
  @include im-breakpoint("lg") {
    font-size: nth($badge-font-size, 3);
  }
}

.ic-badge-status {
  background-color: $badge-status-color;
  color: get($colors, "white");
  text-transform: uppercase;
  min-height: rem-calc(24);
  font-size: nth($badge-font-size, 1);
  padding: 0 rem-calc(8);

  @include im-breakpoint("md") {
    min-height: rem-calc(30);
    font-size: nth($badge-font-size, 2);
    padding: rem-calc(5) rem-calc(10);
  }
  @include im-breakpoint("lg") {
    font-size: nth($badge-font-size, 3);
  }
}

.ic-badge-status--alt {
  @extend .ic-badge-status;
  border: 1px solid $badge-status-color;
  background: white;
  color: $badge-status-color;
}

/* use the same style as for mobile */
.ic-badge--small {
  font-size: nth($badge-font-size, 1);
  min-height: rem-calc(30);
}

.ic-badge-status.ic-badge--small {
  min-height: rem-calc(24);
  padding-top: 0;
  padding-bottom: 0;
}
