$section-divider-color: get($colors, "muted") !default;
$section-header-border-color: $section-divider-color !default;
$section-header-has-border: true !default;
// TODO: section spacing for mobile and desktop
$section-spacing: get($spacing, 700) !default;
$header-font: get($fonts, "heading") !default;

/** Avatar box */

.ic-avatar-box {
  @extend .iu-flex-center;
  @include background("background");
  @include radius("xl");
  @include pad(200, 300, 200, 300);
  @include font("body");

  @include im-breakpoint(lg) {
    @include pad(400, 900, 400, 700);
  }
}

.ic-avatar-box p {
  margin: 0;
}

.ic-avatar-box .iu-link-divider-right:after {
  border-right-color: get($colors, "stone-line");
}

.ic-avatar-box__icon {
  width: rem-calc(22);
  height: rem-calc(22);
  @include im-breakpoint(lg) {
    width: rem-calc(50);
    height: rem-calc(50);
  }
}

.ic-avatar-box__name {
  @extend .iu-truncate-gradient;
  max-width: rem-calc(66);
  font-size: get($fontSizes, 100);

  @include im-breakpoint(lg) {
    font-size: inherit;
    max-width: rem-calc(800);
    &:after {
      display: none;
    }
  }

  @include im-breakpoint(md) {
    max-width: rem-calc(130);
  }
}

/** Sections */

.ic-section-header {
  padding-bottom: $section-spacing;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ic-section-headline {
  @extend .ic-subtitle;
  @extend .ic-subtitle--light;
  @if $section-header-has-border == true {
    border-bottom: 1px solid $section-header-border-color;
    padding-bottom: rem-calc(10);
  }
}

.ic-section-headline--border {
  border-bottom: 1px solid $section-header-border-color;
  padding-bottom: rem-calc(10);
}

.ic-section-headline--noborder {
  border-bottom: none;
  padding-bottom: unset;
}

.ic-section + .ic-section {
  padding-top: $section-spacing;
  margin-top: $section-spacing;
}

.ic-section + .ic-section--no-padding {
  padding-top: 0;
}

.ic-section + .ic-section--no-margin {
  margin-top: 0;
}

.ic-section--divider {
  padding-top: $section-spacing;
  border-top: 1px solid $section-divider-color;
}

.ic-section.ic-section--extra-padding {
  padding-top: $section-spacing * 2;
}

.ic-section.ic-section--extra-margin {
  margin-top: $section-spacing * 2;
}

/* Intro section */

.ic-section-intro {
  margin-top: get($spacing, "xl");

  * + * {
    margin-top: rem-calc(10);
  }

  @include im-breakpoint("md") {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
    column-gap: rem-calc(40);
    row-gap: 0;
  }
}

.ic-section-intro figure {
  margin-top: rem-calc(30);

  @include im-breakpoint("md") {
    float: right;
    margin: 0;
    justify-self: flex-end;
  }
}
