$card-inspiration-top-border: false !default;
$card-title-divider-color: get($colors, "grey-200") !default;
$card-border-color: $section-divider-color !default;
$card-inspiration-background: null !default;
$card-inspiration-padding: null !default;
$card-padding: null !default;
$card-image-border-radius: null !default;
$card-inspiration-image-margin: null !default;
$card-inspiration-image-border-radius: $card-image-border-radius !default;
$card-inspiration-title-padding: null !default;
$card-inspiration-body-padding: null !default;
$card-inspiration-border-color: rgba(get($colors, "main"), 0.4) !default;
$card-inspiration-title-color: get($colors, "nav") !default;
$card-inspiration-title-chevron-color: currentColor !default;
$card-inspiration-title-font-size: null !default;
$card-inspiration-title-margin: null !default;
/** Block */

.ic-card {
  @include background("background");
  @include radius("card");
  padding: $card-padding;
  border: rem-calc(1) solid $card-border-color;
}

.ic-card.noborder,
.ic-card--noborder {
  border: none;
}

.ic-card.shadow,
.ic-card--shadow {
  @include shadow("card");
}

/** Title Element */

.ic-card__title {
  @include heading();
  font-size: get($fontSizes, "h3");
  margin-bottom: rem-calc(9);
}

.ic-card__title--border {
  border-bottom: 1px solid $card-title-divider-color;
  margin-bottom: rem-calc(14);
  padding-bottom: rem-calc(14);
}

.ic-card__title--chevron {
  display: flex;
  align-items: center;
  &:before {
    content: "";
    margin-right: 0.3em;
    @include chevron($dir: "right", $width: rem-calc(2));
  }
}

/** Image */

.ic-card__image {
  margin-bottom: get($spacing, 300);
}

.ic-card__image > img {
  border-radius: $card-image-border-radius;
}

/** Text wrapper */

.ic-card__text {
  padding-bottom: rem-calc(10);
}

/** Inspiration version */

.ic-card--inspiration {
  @include shadow("card");
  display: flex;
  flex-direction: column;
  background-color: $card-inspiration-background;
  padding: $card-inspiration-padding;
  overflow: hidden;
  position: relative;
  border: none;
  transition: transform 0.15s ease-out, box-shadow 0.15s ease-out, border-bottom 0.15s ease-out;

  @if $card-inspiration-top-border {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: rem-calc(5);
      background-color: get($colors, "main");
      top: 0;
      left: 0;
    }
  }
}

.ic-card--inspiration.ic-card--link:hover {
  box-shadow: 0 rem-calc(4) rem-calc(8) 0 rgba(53, 53, 53, 0.2);
  transform: translateY(-10px);
}

.ic-card--inspiration .ic-card__title {
  @extend .ic-card__title--border;
  @extend .ic-card__title--chevron;
  margin: $card-inspiration-title-margin;
  color: $card-inspiration-title-color;
  border-color: $card-inspiration-border-color;
  padding: $card-inspiration-title-padding;
  font-size: $card-inspiration-title-font-size;
}

.ic-card--inspiration .ic-card__title a {
  color: inherit;
  text-decoration: none;
}

.ic-card--inspiration .ic-card__title:before {
  border-color: $card-inspiration-title-chevron-color;
  margin-right: 0.5em;
}

.ic-card--inspiration .ic-card__image {
  margin: $card-inspiration-image-margin;
}

.ic-card--inspiration .ic-card__image > img {
  border-radius: $card-inspiration-image-border-radius;
}
.ic-card--inspiration .ic-card__body {
  padding: $card-inspiration-body-padding;
}

/** Article list versions */

.ic-card--article {
  @extend %article-list-item !optional;
  padding: 0;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

/* Add this class if the card should have a full-size link inside. */
.ic-card--link {
  position: relative;
}

.ic-card--link:focus-within {
  @include focus-style($offset: 0);
}

.ic-card-link {
  text-decoration: none;
  @include no-focus-handler();
  &:focus {
    text-decoration: underline;
  }
}
.ic-card-link:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* make sure clickable items dont end up under the .ic-card-link:after element */
.ic-card--link a[href]:not(.ic-card-link),
.ic-card--link button {
  position: relative;
}

/* text fadeout... */

@mixin textFadeout(
  $color: get($colors, "background"),
  $fadeStop: 65%,
  $height: 2em,
  $left: 0,
  $bottom: 0,
  $right: 0
) {
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    height: $height;
    bottom: $bottom;
    left: $left;
    right: $right;
    top: auto;
    background-image: linear-gradient(
      180deg,
      rgba($color, 0) 0,
      $color $fadeStop
    );
  }
  .ic-text-fadeout__inner {
    padding-bottom: $height;
  }
}

.ic-text-fadeout {
  overflow: hidden;
  position: relative;
  @include textFadeout();
}

.ic-card--sm-unset-style {
  @include im-breakpoint(0px md) {
    box-shadow: none !important;
    padding: unset !important;
    border: none !important;
    border-radius: unset !important;
  }
}

.ic-card--sm-unset-style:before {
  @include im-breakpoint(0px md) {
    content: unset !important;
  }
}

/* Expandable card */

.ic-card--inspiration-large {
  @extend .ic-card--inspiration;
  padding: rem-calc(25) rem-calc(30) rem-calc(20);
}

.ic-card.ic-card--expandable.ic-card--sm-unset-style.ic-expandable.ic-card--inspiration-large:before {
  content: "" !important;
}

.ic-card--inspiration-large[class*="--expanded"],
.ic-card--inspiration-large[open] {
  padding-bottom: rem-calc(32);
}

/* ic-inner is a generic helper that can hold styling based on its wrapper */
.ic-card--inspiration-large .ic-inner {
  padding-left: rem-calc(10);
  padding-right: rem-calc(74);
  padding-top: rem-calc(12);
  
  @include im-breakpoint(lg) {
    padding-top: rem-calc(4.8);
  }
}
