summary::-webkit-details-marker {
  display:none;
}

/* group styles */

.ic-expandables-group {
  border-top: 1px solid getRgba("stone-dark", 0.2);
}

.ic-expandables-group .ic-expandable {
  border-bottom: 1px solid getRgba("stone-dark", 0.2);
  padding: rem-calc(30) rem-calc(10) rem-calc(22);
  position: relative;
}

.ic-expandables-group .ic-expandable[open] {
  padding-bottom: rem-calc(30);
}

.ic-expandables-group .ic-expandable .ic-expandable-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='iu-svg-icon' %3E%3Crect width='8' height='1' x='4' y='7.5' fill='rgb(255,255,255)' /%3E%3Crect width='1' height='8' x='7.5' y='4' fill='rgb(255,255,255)' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: get($colors, "cta");
  border-radius: 50%;
  color: white;
  content: "";
  display: inline-block;
  height: 1.5em;
  position: absolute;
  right: 10px;
  top: 40px;
  width: 1.5em;
}

.ic-expandables-group .ic-expandable[open] .ic-expandable-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' class='iu-svg-icon' %3E%3Crect width='8' height='1' x='4' y='7.5' fill='rgb(255,255,255)' /%3E%3Crect width='0' height='0' x='7.5' y='4' fill='rgb(255,255,255)' /%3E%3C/svg%3E");
}

.ic-expandable-target {
  opacity: 0;
  height: 0;
  overflow: hidden;
  will-change: opacity;
  transition: opacity 0.1s ease-in;
}

.ic-expandable--expanded > .ic-expandable-target {
  opacity: 1;
  height: auto;
  overflow: unset;
}

.ic-expandable-target > * {
  visibility: hidden;
}

.ic-expandable--expanded > .ic-expandable-target > *,
details[open] > .ic-expandable-target > * {
  visibility: visible;
}

/* summary */

.ic-expandable-button {
  @extend .ic-subtitle;
  @extend .ic-subtitle--light;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  min-height: $button-min-height;
  width: 100%;
}

.ic-expandable-button__icon {
  flex-shrink: 0;
  flex-grow: 0;
}

.ic-expandable-button:focus {
  outline: none;

  .ic-expandable-button__icon {
    @include focus-style();
  }
}
.ic-card.ic-expandable {
  position: relative;
}
.ic-card.ic-expandable .ic-expandable-button {
  font-size: rem-calc(22);
  line-height: 2.3rem;
}

.ic-card.ic-expandable--expanded .ic-expandable-button,
.ic-card.ic-expandable[open] .ic-expandable-button {
  border-width: rem-calc(1);
  border-color: getRgba("stone-dark", 0.2);
  border-bottom-style: solid;
  margin-bottom: rem-calc(20.4);
}

.ic-card.ic-expandable .ic-expandable-button:after {
  display: inline-block;
  width: 22px;
  height: 15px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg class='iu-svg-icon' xmlns='http://www.w3.org/2000/svg' width='22' height='15' viewBox='0 0 22 15'%3E%3Cpath fill='rgb(57,98,145)' d='M8.325 10.647L.585 3.259c-.78-.746-.78-1.954 0-2.7.782-.745 2.048-.745 2.83 0l9.153 8.738c.781.745.781 1.954 0 2.7l-9.154 8.737c-.78.746-2.047.746-2.828 0-.781-.745-.781-1.954 0-2.7l7.74-7.387z' transform='translate(-1290 -179) translate(410 141) rotate(90 432 470)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 42px;
  right: 40px;
}
.ic-card.ic-expandable[open] .ic-expandable-button:after{
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* chevron button */

.ic-expandable-button--chevron {
  .ic-expandable-button__icon {
    width: rem-calc(10);
    @include im-breakpoint(md) {
      width: auto;
    }
  }
}

.ic-expandable-button--chevron path {
  fill: get($colors, "cta");
}

.ic-expandable--expanded .ic-expandable-button--chevron svg {
  transform: rotate(180deg);
}

/* plus minus button */

.ic-expandable-button--plusminus-circle .ic-expandable-button__icon {
  background-color: get($colors, "cta");
  color: white;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ic-expandable-button--plusminus-circle .ic-expandable-button__icon svg {
  width: rem-calc(16);
  height: rem-calc(16);
}

.ic-expandable-button--plusminus-circle .ic-expandable-button__icon rect,
.ic-expandable-button--plusminus-circle .ic-expandable-button__icon path {
  fill: white;
}

.ic-expandable-button--plusminus-circle[aria-expanded="true"]
  .ic-expandable-button__icon
  rect.vert {
  display: none;
}
