$form-color: get($colors, "text");
$input-width: 100% !default;
$input-use-focus-handler: true !default;
$input-background: get($colors, "white") !default;
$input-focus-background: $input-background !default;
$input-disabled-background: shade-color($input-background, 1) !default;
$input-box-sizing: border-box !default;
$input-font-family: inherit !default;
$input-font-size: inherit !default;
$input-color: get($colors, "black") !default;
$input-disabled-color: null !default;
$input-disabled-color: if(
  $input-disabled-color == null,
  tint-color($input-color, 2),
  $input-disabled-color
) !default;
$input-focus-color: $input-color !default;
$input-placeholder-color: tint-color($input-color, 2) !default;
$input-error-border-color: get($colors, "error") !default;
$input-error-border-style: solid !default;
$input-error-background-color: $input-background !default;
$input-padding: get($spacing, "sm") !default;
$input-border-color: get($colors, "muted") !default;
$input-border-width: rem-calc(1) !default;
$input-border-all: $input-border-width solid $input-border-color !default;
$input-border-top: $input-border-all !default;
$input-border-left: $input-border-all !default;
$input-border-right: $input-border-all !default;
$input-border-bottom: $input-border-all !default;
$input-disabled-border-color: tint-color($input-border-color, 2) !default;
$input-placeholder-font-style: normal !default;

$input-box-shadow: none !default;
$input-focus-box-shadow: $input-box-shadow !default;
$input-disabled-box-shadow: $input-box-shadow !default;
$input-error-focus-box-shadow: $input-box-shadow !default;

$input-border-radius: 0 !default;
$input-border-top-right-radius: $input-border-radius !default;
$input-border-bottom-right-radius: $input-border-radius !default;
$input-border-top-left-radius: $input-border-radius !default;
$input-border-bottom-left-radius: $input-border-radius !default;
$input-min-height: 0 !default;

$form-button-font-size: get($fontSizes, 600) !default;
$form-button-font-weight: $button-font-weight !default;
$form-button-border-radius: $input-border-radius !default;
$form-button-disabled-color: $input-disabled-color !default;

$textarea-default-height: 3 * $input-min-height !default;
$textarea-use-styled-scrollbar: true !default;

$error-message-caret-size-number: 10 !default;

%unstyled-formfield {
  border: none;
  padding: unset;
  margin: unset;
}

.ic-forms {
  color: $form-color;
}

.ic-forms__label {
  display: block;
  color: get($colors, "muted-dark");
  margin-bottom: 0.5em;
}

.ic-forms__group {
  position: relative;
  // overwrite default border of fieldset
  border: none;
}

.ic-forms__group:not(:first-child) {
  margin-top: 1.25em;
}

.ic-group-horizontal {
  label {
    display: inline-flex;
    margin-right: 1em;
    /*
    @supports (margin-inline-end: 0) {
      margin-right: 0;
      margin-inline-end: 1em;
    }*/
  }
  @supports (display: flex) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    row-gap: 1em;
  }
}

/* .ic-radio-group-horizontal .ic-forms__radio + label {
  display: inline-flex;
}
*/

.ic-group-vertical {
  label {
    display: block;
    top: 0.1875em; // ~3px
  }
  label ~ label {
    margin-top: 0.625em;
  }
  @supports (display: flex) {
    label {
      top: unset;
    }
  }
}

/* button group */

.ic-button-group {
  margin-top: rem-calc(30);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;

  @include im-breakpoint("md") {
    flex-direction: row;
    align-items: center;
  }
}

.ic-button-group > * {
  margin-top: rem-calc(20);

  @include im-breakpoint("md") {
    margin-top: 0;
    margin-left: rem-calc(20);

    /*
    @supports (margin-inline-end: 20px) {
      margin-left: 0;
      margin-inline-end: rem-calc(20);
    }
    */
  }
}

.ic-button-group--right {
  @include im-breakpoint("md") {
    overflow: auto;
    @supports (display: flow-root) {
      overflow: unset;
      display: flow-root;
    }

    & > * {
      float: right;
      margin-left: rem-calc(20);
      margin-right: 0;

      [dir="rtl"] & {
        float: left;
        margin-right: rem-calc(20);
        margin-left: 0;
      }
    }
  }
}

.ic-button-group--center {
  justify-content: center;
}

/******************************************************************************
*
* A form radio button
*
* <input id="radio" type="radio" class="ic-forms__radio" />
* <label for="radio">Label</label>
*
*/

@import "./forms-radio";

/******************************************************************************
*
* A form checkbox
*
* <input id="checkbox" type="checkbox" class="c-forms__checkbox" />
* <label for="checkbox">Label</label>
*
*/

@import "./forms-checkbox";

/******************************************************************************
*
* A form input field
*
* <input id="text" type="text" class="ic-textfield" />
* <label for="text">Label</label>
*
* <textarea>
*
*/

@import "./forms-field";

/* dropdown */

@import "./forms-dropdown";

/* error message */

.ic-forms__error-message {
  background-color: get($colors, "background");
  box-shadow: 0 2px 4px 0 rgba(53, 53, 53, 0.2);
  color: get($colors, "error");
  border-radius: 5px;
  border: 1px solid rgba(53, 53, 53, 0.15);
  margin-top: rem-calc($error-message-caret-size-number);
  padding: get($spacing, 200) get($spacing, 500);
  position: relative;
  display: block;
  @extend %error-message-animation !optional;
}

.ic-forms__error-message:empty {
  display: none;
}

.ic-forms__error-message:before {
  border-left: rem-calc($error-message-caret-size-number) solid transparent;
  border-right: rem-calc($error-message-caret-size-number) solid transparent;
  border-bottom: rem-calc($error-message-caret-size-number) solid
    rgba(53, 53, 53, 0.15);
  content: "";
  display: block;
  height: 0;
  left: 40px;
  position: absolute;
  top: -1 * rem-calc($error-message-caret-size-number);
  width: 0;
  z-index: 9;
}

.ic-forms__error-message:after {
  border-left: rem-calc($error-message-caret-size-number - 1) solid transparent;
  border-right: rem-calc($error-message-caret-size-number - 1) solid transparent;
  border-bottom: rem-calc($error-message-caret-size-number - 1) solid #fff;
  content: "";
  display: block;
  height: 0;
  left: 41px; // 1px more then before element
  position: absolute;
  top: -1 * rem-calc($error-message-caret-size-number - 1);
  width: 0;
  z-index: 9;
}

/******************************************************************************
*
* A form submit or reset button
*
* <input type="submit" class="ic-forms__button" value="Submit" />
* <input type="reset" class="ic-forms__secondary-button" value="Reset" />
*
* <button type="submit" class="ic-forms__button">Submit</button>
* <button type="reset" class="ic-forms__secondary-button">Submit</button>
*
*/

.ic-forms__button {
  @extend .ic-button;
  @extend .ic-button--primary;
  border-radius: $form-button-border-radius;
  box-sizing: $input-box-sizing;
  font-size: $form-button-font-size;
  font-weight: $form-button-font-weight;
  line-height: 1;
  min-height: $input-min-height;
  padding-bottom: 0;
  padding-top: 0;

  &--focus,
  &:focus {
    @extend %focus;
  }

  &--disabled,
  &:disabled {
    @extend .ic-button--primary-ghost;
    cursor: default;
    background-color: get($colors, "white");
    color: $input-disabled-color;
    color: $form-button-disabled-color;
    border-color: $input-disabled-border-color;
    &:hover {
      background-color: get($colors, "white");
      color: $form-button-disabled-color;
      border-color: $input-disabled-border-color;
    }
  }
}

.ic-forms__secondary-button {
  @extend .ic-button;
  @extend .ic-button--secondary;
  @extend .ic-forms__button;
}
