$dropdown-background: $input-background !default;
$dropdown-color: $input-color !default;
$dropdown-use-focus-handler: true !default;
$dropdown-font: inherit !default;
$dropdown-font-size: inherit !default;
$dropdown-font-weight: inherit !default;

$dropdown-icon-color: get($colors, "white") !default;
$dropdown-icon-background: get($colors, "nav-light") !default;
$dropdown-icon-width: rem-calc(2) !default;
$dropdown-icon-size: rem-calc(4) !default;

$dropdown-border-radius: $input-border-radius !default;
$dropdown-border-top-right-radius: $dropdown-border-radius !default;
$dropdown-border-bottom-right-radius: $dropdown-border-radius !default;
$dropdown-border-top-left-radius: $dropdown-border-radius !default;
$dropdown-border-bottom-left-radius: $dropdown-border-radius !default;

$dropdown-box-shadow: $input-box-shadow !default;
$dropdown-focus-box-shadow: $dropdown-box-shadow !default;
$dropdown-disabled-box-shadow: $dropdown-box-shadow !default;

$dropdown-border-color: $input-border-color !default;
$dropdown-border-width: 1px !default;
$dropdown-border-all: $dropdown-border-width solid $dropdown-border-color !default;
$dropdown-border-top: $dropdown-border-all !default;
$dropdown-border-left: $dropdown-border-all !default;
$dropdown-border-right: $dropdown-border-all !default;
$dropdown-border-bottom: $dropdown-border-all !default;

$dropdown-disabled-color: $input-disabled-color !default;
$dropdown-disabled-background-color: $input-disabled-background !default;
$dropdown-disabled-border-color: $input-disabled-border-color !default;
$dropdown-disabled-border-width: $dropdown-border-width !default;
$dropdown-disabled-border-all: $dropdown-disabled-border-width solid
  $dropdown-disabled-border-color !default;
$dropdown-disabled-border-top: $dropdown-disabled-border-all !default;
$dropdown-disabled-border-left: $dropdown-disabled-border-all !default;
$dropdown-disabled-border-right: $dropdown-disabled-border-all !default;
$dropdown-disabled-border-bottom: $dropdown-disabled-border-all !default;

$dropdown-disabled-icon-background: $dropdown-icon-background !default;
$dropdown-disabled-icon-color: $dropdown-icon-color !default;

$dropdown-focus-color: $input-focus-color !default;
$dropdown-focus-background-color: $input-focus-background !default;
$dropdown-focus-border-color: $dropdown-border-color !default;
$dropdown-focus-border-width: $dropdown-border-width !default;
$dropdown-focus-border-all: $dropdown-focus-border-width solid
  $dropdown-focus-border-color !default;
$dropdown-focus-border-top: $dropdown-focus-border-all !default;
$dropdown-focus-border-left: $dropdown-focus-border-all !default;
$dropdown-focus-border-right: $dropdown-focus-border-all !default;
$dropdown-focus-border-bottom: $dropdown-focus-border-all !default;

$dropdown-focus-icon-background: $dropdown-icon-background !default;
$dropdown-focus-icon-color: $dropdown-icon-color !default;

$dropdown-padding: $input-padding !default;
$dropdown-min-height: $input-min-height !default;
$dropdown-font-family: $input-font-family !default;
$dropdown-font-size: $input-font-size !default;

$dropdown-multiple-selected-background: get($colors, "grey-300") !default;
$dropdown-multiple-border-color: $dropdown-border-color !default;

%dropdown-chevron-down {
  @include chevron(
    $color: $dropdown-icon-color,
    $width: $dropdown-icon-width,
    $size: $dropdown-icon-size,
    $dir: "down"
  );
  margin-top: rem-calc(-6);
}
%dropdown-chevron-up {
  @include chevron(
    $color: $dropdown-icon-color,
    $width: $dropdown-icon-width,
    $size: $dropdown-icon-size,
    $dir: "up"
  );
  margin-top: rem-calc(-3);
}
%dropdown-chevron-disbled {
  @include chevron(
    $color: $dropdown-icon-color,
    $width: $dropdown-icon-width,
    $size: $dropdown-icon-size,
    $dir: "down"
  );
}

.ic-forms__select {
  font-family: $dropdown-font;
  font-size: $dropdown-font-size;
  background-color: $dropdown-background;
  border-bottom: $dropdown-border-bottom;
  border-left: $dropdown-border-left;
  border-right: $dropdown-border-right;
  border-top: $dropdown-border-top;
  border-top-left-radius: $dropdown-border-top-left-radius;
  border-top-right-radius: $dropdown-border-top-right-radius;
  border-bottom-left-radius: $dropdown-border-bottom-left-radius;
  border-bottom-right-radius: $dropdown-border-bottom-right-radius;
  min-height: $dropdown-min-height;
  overflow: hidden;
  position: relative;

  * {
    font-family: inherit;
    font-size: inherit;
  }

  &:after,
  &:before {
    pointer-events: none;
    content: "";
  }

  &:after {
    top: 50%;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    margin-top: -15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: $dropdown-icon-background;
  }
  &:before {
    @extend %dropdown-chevron-down;
    z-index: 2;
    transform-origin: center center;
    position: absolute;
    right: 20px;
    transition: all 0.3s ease;
    top: 50%;
  }

  select {
    padding: $dropdown-padding;
    color: $dropdown-color;
    height: $dropdown-min-height;
    font-weight: $dropdown-font-weight;
    box-sizing: border-box;
    background: transparent;
    border: none;
    left: 0;
    overflow-wrap: anywhere;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: calc(100% + 60px);
    }

    &::-ms-value {
      background: none; /* remove blue background on ie10/ie11 when selected*/
      color: $dropdown-icon-color;
    }

    @if $dropdown-use-focus-handler {
      outline: none;
    }
  }

  &:focus-within {
    @if $dropdown-use-focus-handler {
      @extend %focus;
    }
  }

  &--focus,
  &:focus-within {
    box-shadow: $dropdown-focus-box-shadow;
    border-color: $dropdown-focus-border-color;
    color: $dropdown-focus-color;
    background-color: $dropdown-focus-background-color;
    box-shadow: $dropdown-focus-box-shadow;
    border-bottom: $dropdown-focus-border-bottom;
    border-left: $dropdown-focus-border-left;
    border-right: $dropdown-focus-border-right;
    border-top: $dropdown-focus-border-top;

    // TODO: Lägg in focus handler och if
    &:before {
      content: "";
      @extend %dropdown-chevron-up;
    }
  }

  &--disabled {
    color: $dropdown-disabled-color;
    background-color: $dropdown-disabled-background-color;
    box-shadow: $dropdown-disabled-box-shadow;
    border-bottom: $dropdown-disabled-border-bottom;
    border-left: $dropdown-disabled-border-left;
    border-right: $dropdown-disabled-border-right;
    border-top: $dropdown-disabled-border-top;

    &:before {
      border-color: $dropdown-disabled-icon-color;
    }

    &:after {
      background-color: $dropdown-disabled-icon-background;
    }
  }

  &--multiple {
    height: auto;
    border: 1px solid $dropdown-multiple-border-color;
    background-color: white;

    &:before {
      content: unset;
      display: none;
    }

    &:after {
      content: unset;
      display: none;
    }

    &:focus-within {
      border: none;
      &:after,
      &:before {
        content: unset;
        display: none;
      }
    }

    select {
      height: auto;
      min-height: 200px;
      padding: 0;
      position: relative;
      width: 100%;

      &:focus-within {
        border: none;
        background-color: white;
      }

      option {
        padding: 5px 20px;

        &[disabled] {
          @include background("grey-100");
          font-style: italic;
        }
      }

      option:not([disabled]) {
        &:hover,
        &:active,
        &[selected],
        &:checked {
          background: linear-gradient(
            $dropdown-multiple-selected-background,
            $dropdown-multiple-selected-background
          );
        }
      }
    }
  }
}
