.ic-textfield {
  width: $input-width;
  background-color: $input-background;
  border-bottom: $input-border-bottom;
  border-left: $input-border-left;
  border-right: $input-border-right;
  border-top: $input-border-top;

  border-top-left-radius: $input-border-top-left-radius;
  border-top-right-radius: $input-border-top-right-radius;
  border-bottom-left-radius: $input-border-bottom-left-radius;
  border-bottom-right-radius: $input-border-bottom-right-radius;

  box-shadow: $input-box-shadow;
  box-sizing: $input-box-sizing;
  color: $input-color;
  font-family: $input-font-family;
  font-size: $input-font-size;
  min-height: $input-min-height;
  padding: $input-padding;

  &--focus,
  &:focus {
    @if $input-use-focus-handler {
      @extend %focus;
    } @else {
      outline: none;
    }
    background-color: $input-focus-background;
    color: $input-focus-color;
    box-shadow: $input-focus-box-shadow;
  }

  &--disabled:focus,
  &--disabled,
  &[disabled],
  &[readonly],
  &[readonly]:focus,
  &:disabled {
    border-color: $input-disabled-border-color;
    background-color: $input-disabled-background;
    color: $input-disabled-color;
    box-shadow: $input-disabled-box-shadow;
    opacity: 1;
  }

  &--error:focus,
  &--error {
    border-style: $input-error-border-style;
    border-color: $input-error-border-color;
    background-color: $input-error-background-color;
  }
  &--error:focus {
    box-shadow: $input-error-focus-box-shadow;
  }

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $input-placeholder-color;
    font-style: $input-placeholder-font-style;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $input-placeholder-color;
    opacity: 1;
    font-style: $input-placeholder-font-style;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $input-placeholder-color;
    font-style: $input-placeholder-font-style;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $input-placeholder-color;
    opacity: 1;
    font-style: $input-placeholder-font-style;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
    font-style: $input-placeholder-font-style;
  }
}

.ic-textarea {
  @extend .ic-textfield;
  min-height: $textarea-default-height;

  @if $textarea-use-styled-scrollbar {
    @include styled-scrollbar(
      $track-margin: rem-calc(5),
      $thumb-background: $input-border-color,
      $track-border-color: transparent,
      $track-border-width: 3px,
      $track-background: rgba(get($colors, "stone-dark"), 0.3),
      $track-border-radius: rem-calc(10),
      $thumb-border-width: 0,
      $width: rem-calc(10),
      $height: rem-calc(10)
    );
  }

  &--error {
    @extend .ic-textfield--error;
  }

  &--disabled:focus,
  &--disabled {
    @extend .ic-textfield--disabled;
  }
}
