$container-width: rem-calc(1280) !default;
$narrow-container-width: rem-calc(1024) !default;
$page-padding-bottom: get($spacing, "xxl") !default;

.ic-page {
  padding-bottom: $page-padding-bottom;
}

.ic-container {
  box-sizing: border-box;
  max-width: $container-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: get($spacing, "gutter");
  padding-right: get($spacing, "gutter");
}

.ic-container--narrow-md {
  @extend .ic-container;

  @include im-breakpoint(md lg) {
    width: 66%;
    max-width: $narrow-container-width;
  }
}

.ic-nav .ic-container--narrow-md {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.ic-container--full {
  max-width: unset;
}

.iu-gutter {
  padding-left: get($spacing, "gutter");
  padding-right: get($spacing, "gutter");
}

.iu-grid-rows {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: get($spacing, "gutter");
  }
}

.iu-grid-rows > *:not(:first-child) {
  margin-top: get($spacing, "gutter");
  @supports (display: grid) {
    margin-top: unset;
  }
}

[class*="iu-grid-cols"] {
  display: grid;
  row-gap: get($spacing, "gutter");
  column-gap: get($spacing, "gutter");
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

[class*="iu-grid-cols-md-"],
[class*="iu-grid-cols-lg-"] {
  grid-template-columns: 1fr;
}

/*
When grid is not supported grid items will be displayed in one column.

Internet explorer fix for adding bottom margin to grid items.

We do not want to override and use @supports(display: grid) since that would cause other margins
to be potentially overwitten.

*/
@media all and (-ms-high-contrast: none) {
  [class*="iu-grid-cols"] > * + * {
    margin-top: get($spacing, "gutter");
  }
}

// Small
@for $i from 1 through 12 {
  .iu-grid-cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }
  .iu-grid-span-#{$i} {
    grid-column: span $i;
  }
}
// Medium
@for $i from 1 through 12 {
  .iu-grid-span-md-#{$i} {
    @include im-breakpoint(md) {
      grid-column: span $i;
    }
  }
  .iu-grid-cols-md-#{$i} {
    @include im-breakpoint(md) {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

// Large
@for $i from 1 through 12 {
  .iu-grid-span-lg-#{$i} {
    @include im-breakpoint(lg) {
      grid-column: span $i;
    }
  }
  .iu-grid-cols-lg-#{$i} {
    @include im-breakpoint(lg) {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
