$page-header-height: rem-calc(50) !default;
$page-header-height-md: $page-header-height !default;
$page-header-height-lg: rem-calc(120) !default;
$page-header-background: false !default;
$page-header-inner-background: c("transparent") !default;
$page-header-logo-container-background: c("transparent") !default;
$page-header-box-shadow: none !default;
$page-header-faux-shadow: none !default;
$page-header-mobile-tools-font-size: 1rem !default;
$page-header-mobile-tools-height: auto !default;
$page-header-font: inherit !default;

$logo-image: null !default;
$logo-image-height: 0 !default;
$logo-image-width: 0 !default;
$logo-scale-lg: null !default;
$logo-image-width-lg: null !default;
$logo-image-height-lg: null !default;

.ic-page-header {
  @if $page-header-background {
    background: $page-header-background;
  }
  box-shadow: $page-header-box-shadow;
  font-family: $page-header-font;
  position: relative;
  z-index: 2;
  overflow: visible;
}

.ic-page-header a {
  color: get($colors, "nav");
  text-decoration: none;
}

.ic-page-header__inner {
  width: 100%;
  height: $page-header-height;
  @include im-breakpoint("md") {
    height: $page-header-height-md;
  }
  @include im-breakpoint("lg") {
    height: $page-header-height-lg;
  }
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  background: $page-header-inner-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.ic-page-header__item {
  position: relative;
  display: flex;
  align-items: center;

  .iu-mr-gutter {
    margin-right: rem-calc(20) !important;
    margin-left: rem-calc(20) !important;
  }
}

.ic-page-header__logo-container {
  /* @extend: this is used for example by 1177 to add the curved edge */
  @extend %ic-page-header__logo-container !optional;
  box-sizing: content-box;
  background: $page-header-logo-container-background;
  height: 100%;
  flex: 0 0 auto;
  width: $logo-image-width;
  @include im-breakpoint("lg") {
    width: $logo-image-width-lg;
  }
  padding-left: get($spacing, "gutter");
}

.ic-page-header__logo-link {
  @if $logo-image != null {
    background-image: $logo-image;
    background-size: $logo-image-width $logo-image-height;
    width: $logo-image-width;
    @include im-breakpoint("lg") {
      background-size: $logo-image-width-lg $logo-image-height-lg;
    }

    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;

    // when we have a background image
    // we "hide" the text.
    &-text {
      @extend .iu-sr-only;
    }
  }
}

.ic-page-header__inner ~ * {
  box-shadow: $page-header-faux-shadow;
}

.ic-page-header__burger {
  width: rem-calc(50);
  align-self: stretch;
}

.ic-page-header__burger:focus {
  outline-offset: rem-calc(-3);
}

.iu-lh-narrow ul {
  display: flex;
}