$link-list-spacing: em-calc(10) !default;
$link-list-headline-use-divider: false !default;

.ic-unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ic-link-list {
  @extend .ic-unstyled-list;

  li + li {
    margin-top: $link-list-spacing;
  }
}

.ic-link-list button,
.ic-link-list a:link {
  text-decoration: underline;
  background-position: center left;
  background-repeat: no-repeat;
  display: inline-block;
}

.ic-link-list--inverted {
  color: get($colors, "white");
}

.ic-link-list--inverted a,
.ic-link-list--inverted button {
  color: inherit;
}

.ic-link-list--nav button,
.ic-link-list--nav a {
  @extend .ic-nav-link;
}

.ic-link-list [class^="icon-"]:before {
  text-decoration: none;
  margin-right: rem-calc(10);
}

.ic-link-list__headline {
  @extend .ic-subtitle;
  @extend .ic-subtitle--light;
  margin-bottom: $link-list-spacing;

  @if $link-list-headline-use-divider {
    @include smallDivider($paddingBottom: rem-calc(10), $width: rem-calc(40));
  }
}

/* block list for news/hits */

.ic-block-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem-calc(5);
}

.ic-block-list__item {
  @extend .ic-card;
  position: relative;
  padding: rem-calc(20);
  border: none;
  box-shadow: none;
  background-color: get($colors, "sky-background");
}

.ic-block-list__item:focus-within {
  outline-offset: -2px;
}

.ic-block-list--striped {
  row-gap: 0;
}

.ic-block-list--striped .ic-block-list__item:nth-child(even) {
  background-color: get($colors, "background");
}

/* news list item */

.ic-news-list-item {
  display: grid;
  grid-template-columns: rem-calc(50) 1fr;
  column-gap: rem-calc(20);
  @include im-breakpoint(md) {
    grid-template-columns: rem-calc(70) 1fr;
  }
}

.ic-news-list-item__date {
  z-index: 1;
}

.ic-news-list-item__body {
  padding-top: rem-calc(5);
  line-height: 1.5;
  max-height: 100px;
  overflow: hidden;
}

[class*="--striped"] > *:nth-child(odd) {
  overflow: hidden;
}

[class*="--striped"] > *:nth-child(odd) .ic-news-list-item__body {
  @include textFadeout(
    $height: 3em,
    $color: get($colors, "sky-background"),
    // make sure the fade does not go over focus outline
    $left: 2px,
    $right: 2px,
    $bottom: 2px
  );
}

[class*="--striped"] > *:nth-child(even) .ic-news-list-item__body {
  @include textFadeout(
    $height: 3em,
    $color: get($colors, "background"),
    // make sure the fade does not go over focus outline
    $left: 2px,
    $right: 2px,
    $bottom: 2px
  );
}

.ic-news-list-item__author {
  font-size: rem-calc(15);
  font-style: italic;
  @include im-breakpoint(md) {
    font-size: inherit;
    font-style: unset;
  }
}

/* cookie list */

.ic-cookie-list {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  display: flex;
  flex-direction: column;
  font-size: get($fontSizes, 200);

  @include im-breakpoint(md) {
    flex-direction: row;
    justify-content: center;
  }

  @include im-breakpoint(lg) {
    // padding-top: rem-calc(0);
    justify-content: flex-end;
  }
}

.ic-cookie-list li:not(:first-child) {
  margin-top: rem-calc(10);

  @include im-breakpoint(md) {
    margin-top: unset;
    margin-left: rem-calc(55);

    [dir="rtl"] & {
      margin-right: rem-calc(55);
    }
  }
}
