$topnav-fontsize: 1rem !default;
$topnav-height: auto !default;
$topnav-link-spacing: 0.5rem !default;
$topnav-box-shadow: none !default;
$topnav-decoration: none !default;

$navlist-spacing-y: 0.5rem !default;
$navlist-spacing-x: 0.5rem !default;
$navlist-background: get($colors, "nav") !default;
$navlist-fontweight: inherit !default;
$navlist-text: get($colors, "nav-text") !default;
$navlist-item-expanded-background: get($colors, "secondary-light") !default;
$navlist-current-background: transparent !default;
$navlist-chevron-size: rem-calc(5) !default;
$navlist-chevron-width: rem-calc(2) !default;

$navlist-level-1-padding: rem-calc(30) !default;
$navlist-level-2-padding: rem-calc(30) !default;
$navlist-level-3-padding: rem-calc(60) !default;
$navlist-level-4-padding: rem-calc(80) !default;

/* Generic navigation bar component */

.ic-nav {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
  }
  li {
    list-style-type: none;
    display: block;
    flex: 0 0 auto;
    position: relative;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: get($colors, "nav");
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.ic-nav--divider {
  ul > li {
    border-right: 1px solid rgba(get($colors, "nav"), 0.2);
  }
  ul > li:last-child {
    border-right: none;
  }
}

.ic-nav--full {
  ul > li {
    flex: 1 1 auto;
  }
}

/* Navigation right under/inside the header component */

$topnav-background: c("body") !default;
$topnav-padding: null !default;

.ic-topnav {
  background-color: $topnav-background;
  @extend .ic-nav;

  &.ic-topnav {
    box-shadow: $topnav-box-shadow;
  }

  li:first-child {
    margin-left: -($topnav-link-spacing);
  }

  a {
    padding-left: $topnav-link-spacing;
    padding-right: $topnav-link-spacing;
    height: $topnav-height;
  }
}

.ic-topnav__link {
  @extend %ic-topnav__link !optional;
  font-size: $topnav-fontsize;
  text-decoration: $topnav-decoration;
}

/* navigation list used for mobile navigation */

.ic-nav-list {
  @extend .ic-nav;
  background-color: $navlist-background;
  font-weight: $navlist-fontweight;
  color: $navlist-text;
}

.ic-nav-list a {
  color: inherit;
}

.ic-nav-list__item--has-children > a {
  // leave room for the button chevron
  max-width: calc(100% - 130px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.ic-nav-list ul {
  flex-direction: column;
}

.ic-nav-list li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.ic-nav-list li:before {
  content: "";
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  top: 0;
  left: 0;
  height: rem-calc(4);
}

.ic-nav-list__list .ic-nav-list__item--expanded {
  background: get($colors, "nav-current");
  box-shadow: inset 10px 0 0 0 get($colors, "white");
}

[dir="rtl"] .ic-nav-list__list .ic-nav-list__item--expanded {
  box-shadow: inset -10px 0 0 0 get($colors, "white");
}

.ic-nav-list__list .ic-nav-list__list {
  background-color: #fff;
}

.ic-nav-list__list .ic-nav-list__list li {
  color: get($colors, "nav");
  font-weight: normal;
}

/* first sub-level */
.ic-nav-list__list .ic-nav-list__list a {
  font-size: get($fontSizes, "sm");
}

/* second sub-level */
.ic-nav-list__list .ic-nav-list__list .ic-nav-list__list a {
  padding-left: $navlist-level-2-padding;
}

/* third sub-level */
.ic-nav-list__list .ic-nav-list__list .ic-nav-list__list .ic-nav-list__list a {
  padding-left: $navlist-level-3-padding;
}

/* fourth sub-level */
.ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  a {
  padding-left: $navlist-level-4-padding;
}

.ic-nav-list__list .ic-nav-list__list .ic-nav-list__item--expanded {
  background-color: $navlist-item-expanded-background;
}

.ic-nav-list__list .ic-nav-list__list .ic-nav-list__item--expanded > a {
  color: inherit;
}

.ic-nav-list__list .ic-nav-list__item--expanded > ul a {
  box-shadow: inset 10px 0 0 0 $navlist-item-expanded-background;
}

[dir="rtl"] .ic-nav-list__list .ic-nav-list__item--expanded > ul a {
  box-shadow: inset -10px 0 0 0 $navlist-item-expanded-background;
}

.ic-nav-list__list .ic-nav-list__list a[aria-current],
.ic-nav-list__list .ic-nav-list__list a:hover {
  box-shadow: inset 10px 0 0 0 get($colors, "main");
}

.ic-nav-list__list .ic-nav-list__list a[aria-current] {
  background-color: $navlist-current-background;
}

[dir="rtl"] .ic-nav-list__list .ic-nav-list__list a[aria-current],
[dir="rtl"] .ic-nav-list__list .ic-nav-list__list a:hover {
  box-shadow: inset -10px 0 0 0 get($colors, "main");
}

.ic-nav-list__expand[aria-expanded="false"] {
  &:after {
    content: "";
    @include chevron(
      $dir: down,
      $size: $navlist-chevron-size,
      $width: $navlist-chevron-width
    );
  }
}
.ic-nav-list__expand[aria-expanded="true"] {
  &:after {
    content: "";
    position: relative;
    top: $navlist-chevron-width;
    @include chevron(
      $dir: up,
      $size: $navlist-chevron-size,
      $width: $navlist-chevron-width
    );
  }
}

.ic-nav-list__expand {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 1 50px;
  background: none;
  border: none;
  position: relative;
  color: inherit;
}

.ic-nav-list ul ul {
  flex: 1 0 100%;
}

.ic-nav-list a {
  flex: 1 0 auto;
  justify-content: flex-start;
  padding: $navlist-spacing-x $navlist-spacing-y;
}

.ic-nav-list a,
.ic-nav-list button {
  outline-offset: -2px;
}
