$notification-background: get($colors, "main") !default;
$notification-text: get($colors, "white") !default;
$notification-font-size: get($fontSizes, "sm") !default;
$notification-size: 2em !default;
$notification-font-weight: 600 !default;

.ic-notification {
  font-size: $notification-font-size;
  font-weight: $notification-font-weight;
  color: $notification-text;
  background-color: $notification-background;
  min-width: $notification-size;
  min-height: $notification-size;
  padding: 0 0.4em;
  box-sizing: border-box;
  border-radius: $notification-size;
  text-align: center;
  display: inline-block;
  line-height: $notification-size;
  align-items: center;
  justify-content: center;
  @supports (display: inline-flex) {
    display: inline-flex;
    line-height: 1;
  }
}
