.ic-popover {
  position: relative;
  display: inline-block;
  background-color: get($colors, "background");
  box-sizing: border-box;
  border-radius: get($radius, "md");
  box-shadow: 0 0 rem-calc(20) 0 rgba(0, 0, 0, 0.3);
  padding: rem-calc(25);
  z-index: 9999;
  max-width: 90%;
}

.ic-popover__close {
  color: get($colors, "cta");
  width: rem-calc(24);
  height: rem-calc(24);
  position: absolute;
  top: rem-calc(12);
  right: rem-calc(12);
}

/* Modal */

.ic-modal {
  @extend .ic-popover;
  border: solid 1px get($colors, "stone-line");
  max-width: rem-calc(620);
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: rem-calc(30) rem-calc(30) rem-calc(40);
  max-height: 80vh;
  overflow-y: auto;
}

.ic-modal--error {
  text-align: center;
  @include im-breakpoint("lg") {
    padding: rem-calc(100);
  }
}

.ic-modal__close {
  @extend .ic-popover__close;
}

.ic-modal__head {
  margin-bottom: rem-calc(15);
}

.ic-modal__headline {
  @extend .h3;
}

.ic-modal--error .ic-modal__headline {
  font-size: rem-calc(36);
  line-height: 1.11;
  letter-spacing: -0.5px;
  color: #696969;
}

/* Backdrop */

.ic-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Tooltip */

.ic-tooltip {
  @extend .ic-popover;
  margin-top: rem-calc(16);
  display: none;
  position: absolute;
}

.ic-tooltip[open],
.ic-tooltip--open {
  display: block;
}

.ic-tooltip:before {
  content: "";
  position: absolute;
  top: rem-calc(-32);
  z-index: 15;
  margin-left: 0;
  border: rem-calc(16) solid transparent;
  border-bottom-color: white;
  filter: drop-shadow(0px rem-calc(-6) rem-calc(4) rgba(0, 0, 0, 0.1));
  z-index: 0;
}

.ic-tooltip__close {
  right: rem-calc(10);
  top: rem-calc(20);
  width: rem-calc(30);
  height: rem-calc(30);
  svg {
    width: rem-calc(30);
    height: rem-calc(30);
  }
}

.ic-tooltip__caption + * {
  margin-top: rem-calc(10);
}

.ic-tooltip__scroll {
  @extend .ic-scroll-y;
  margin-right: rem-calc(-10); // pull the scrollbar
  padding-right: rem-calc(18); // scrollbar width
}

.ic-tooltip--has-scroll {
  @include textFadeout($height: 40px, $bottom: 25px, $left: 25px, $right: 35px);
}

.ic-tooltip__close {
  @extend .ic-popover__close;
}

.ic-tooltip-alt {
  @extend .ic-tooltip;
}

.ic-tooltip-alt:before {
  right: auto;
  /* left: calc(50% - 1rem); */
}

.ic-tooltip-alt .ic-tooltip__close {
  top: rem-calc(12);
  right: rem-calc(10);
}
