$preamble-color: map-get($colors, "text") !default;
$preamble-margin-bottom: null !default; // map-get($spacing, 800) !default;
$preamble-margin-top: null !default; // map-get($spacing, 800) !default;
$preamble-font-weight: inherit !default;
$preamble-line-height: inherit !default;

.ic-preamble {
  @include fontSize("preamble");
  color: $preamble-color;
  font-weight: $preamble-font-weight;
  line-height: $preamble-line-height;
}

.ic-text .ic-preamble {
  margin-bottom: $preamble-margin-bottom;
  margin-top: $preamble-margin-top;
}
