/* https://tobiasahlin.com/spinkit/ */

.ic-spinner {
  width: rem-calc(70);
  text-align: center;
  line-height: rem-calc(18);
  height: rem-calc(18);
}

.ic-spinner > .ic-spinner__bounce1,
.ic-spinner > .ic-spinner__bounce2,
.ic-spinner > .ic-spinner__bounce3 {
  line-height: 1;
  width: rem-calc(18);
  height: rem-calc(18);
  background-color: get($colors, "cta");
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.ic-spinner--white > .ic-spinner__bounce1,
.ic-spinner--white > .ic-spinner__bounce2,
.ic-spinner--white > .ic-spinner__bounce3 {
  background-color: get($colors, "white");
}

.ic-button .ic-spinner > .ic-spinner__bounce1,
.ic-button .ic-spinner > .ic-spinner__bounce2,
.ic-button .ic-spinner > .ic-spinner__bounce3,
.ic-spinner--cta-text > .ic-spinner__bounce1,
.ic-spinner--cta-text > .ic-spinner__bounce2,
.ic-spinner--cta-text > .ic-spinner__bounce3 {
  background-color: get($colors, "cta-text");
}

.ic-spinner .ic-spinner__bounce1 {
  animation-delay: -0.32s;
}

.ic-spinner .ic-spinner__bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
