/*
webkit only! styled scrollbar.
*/
@mixin styled-scrollbar(
  $width: rem-calc(14),
  $height: rem-calc(14),
  $track-background: transparent,
  $track-border-radius: 0,
  $track-border-color: transparent,
  $track-border-width: 0,
  $thumb-background: get($colors, "cta"),
  $thumb-border-radius: rem-calc(8),
  $thumb-border-color: transparent,
  $thumb-border-width: rem-calc(3),
  $track-margin: 0
) {
  /* scrollbar-color: $thumb-background $track-background; */
  /* scrollbar-width: auto; */

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $thumb-border-radius;
    border: $thumb-border-width solid $thumb-border-color;
    background: $thumb-background;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    margin: $track-margin;
    background: $track-background;
    border-radius: $track-border-radius;
    border-color: $track-border-color;
    border-width: $track-border-width;
    border-style: solid;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.ic-scroll-y {
  overflow-y: auto;
  @include styled-scrollbar(
    $width: rem-calc(18),
    $height: rem-calc(18),
    $thumb-border-radius: rem-calc(10),
    $track-background: #f0f0f5,
    $track-border-radius: rem-calc(10)
  );
}

.ic-scroll-x {
  overflow-x: auto;
  @include styled-scrollbar(
    $width: rem-calc(18),
    $height: rem-calc(18),
    $thumb-border-radius: rem-calc(10),
    $track-background: #f0f0f5,
    $track-border-radius: rem-calc(10)
  );
}
