$tab-font-weight: get($fontWeights, "bold") !default;
$tab-font-family: get($fonts, "secondary") !default;
$tab-height: rem-calc(50) !default;
$tab-background: #f1f1f5 !default;
$tab-border-color: #d9dadc !default;
$tab-active-extra-top-space: rem-calc(5) !default;

.ic-tabbed__tabs {
  position: relative;
  border-bottom: rem-calc(1) solid $tab-border-color;
  display: flex;
  align-items: flex-end;
  padding-left: rem-calc(10);
  padding-right: rem-calc(10);

  @supports (display: grid) {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
    column-gap: 10px;
  }
}

.ic-tabbed__tabs li {
  display: inline-block;
}

.ic-tabbed__tab {
  height: $tab-height;
  text-decoration: none;
  padding-left: rem-calc(20);
  padding-right: rem-calc(20);
  background-color: $tab-background;
  border-radius: rem-calc(10) rem-calc(10) 0 0;
  font-weight: $tab-font-weight;
  font-family: "Inter UI", sans-serif;
  display: inline-block;
  margin-left: rem-calc(5);
  margin-right: rem-calc(5);
  @supports (display: grid) {
    margin-left: unset;
    margin-right: unset;
  }
  @supports (display: flex) {
    display: flex;
    align-items: center;
  }
}

.ic-tabbed__section:focus {
  outline: none;
}

.ic-tabbed__tab[aria-selected="true"] {
  background: get($colors, "body");
  border: 1px solid $tab-border-color;
  border-bottom: 0;
  position: relative;
  top: rem-calc(1);
  box-shadow: 0 rem-calc(-4) rem-calc(5) rem-calc(-1) rgba(0, 0, 0, 0.1);
  height: $tab-height + $tab-active-extra-top-space;
}

.ic-tabbed__tabs:before {
  content: "";
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.2) inset;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  height: rem-calc(10);
  pointer-events: none;
}
