$text-link-decoration: underline !default;

$h1-line-height: get($lineHeights, "heading") !default;
$h2-line-height: get($lineHeights, "heading") !default;
$h3-line-height: get($lineHeights, "heading") !default;
$h4-line-height: get($lineHeights, "heading") !default;

$h1-color: get($colors, "heading") !default;
$h2-color: get($colors, "heading") !default;
$h3-color: get($colors, "heading") !default;
$h4-color: get($colors, "heading") !default;

$subtitle-text-transform: uppercase !default;
$subtitle-font-size: em-calc(20) !default;
$subtitle-font-weight: get($fontWeights, "normal") !default;

$table-footer-color: inherit !default;

$definition-list-columns: minmax(min-content, max-content) auto !default;

$small-text: get($fontSizes, "sm") !default;

.h1,
h1 {
  @include font("heading");
  @include fontWeight("heading");
  @include fontSize("h1");
  line-height: $h1-line-height;
  color: $h1-color;
}

.h2,
h2 {
  @include font("heading");
  @include fontWeight("heading");
  @include fontSize("h2");
  line-height: $h2-line-height;
  color: $h2-color;
}

.h3,
h3 {
  @include font("heading");
  @include fontWeight("heading");
  @include fontSize("h3");
  line-height: $h3-line-height;
  color: $h3-color;
}

.h4,
h4 {
  @include font("heading");
  @include fontWeight("heading");
  @include fontSize("h4");
  line-height: $h4-line-height;
  color: $h4-color;
}

.ic-subtitle {
  @include font("heading");
  font-weight: $subtitle-font-weight;
  text-transform: $subtitle-text-transform;
  font-size: $subtitle-font-size;
}

.ic-subtitle-small {
  @extend .ic-subtitle;
  @include fontSize("sm");
}

.ic-subtitle--light {
  color: get($colors, "text-light");
}

.ic-small-divider {
  @include smallDivider();
}

.ic-light-text {
  color: get($colors, "text-light");
}

.ic-text a:not(.ic-button) {
  color: $link-color;
  text-decoration: $text-link-decoration;
}

.ic-text a:not(.ic-button):visited {
  color: $link-color;
}

.ic-text a:not(.ic-button):hover {
  color: $link-hover-color;
}

/* Images */

.ic-image__img {
  display: block;
  max-width: 100%;
}

.ic-image__text {
  color: get($colors, "text-light");
  font-size: get($fontSizes, "sm");
  margin-top: rem-calc(15);
  @include smallDivider(
    $color: get($colors, "main"),
    $paddingBottom: rem-calc(15)
  );
}

[dir="rtl"] .ic-image-left,
.ic-image-right {
  margin-bottom: rem-calc(15);
  @include im-breakpoint("md") {
    float: right;
    margin-right: 0;
    margin-left: rem-calc(15);
  }
}

[dir="rtl"] .ic-image-right,
.ic-image-left {
  margin-bottom: rem-calc(15);
  @include im-breakpoint("md") {
    float: left;
    margin-left: 0;
    margin-right: rem-calc(15);
  }
}

/* Lists */

.ic-text > * {
  margin-top: 0.7em;
}

.ic-text > *:first-child {
  margin-top: 0;
}

.ic-text h2 {
  margin-top: 1em;
}

.ic-text h3 {
  margin-top: 0.9em;
}

.ic-text h4 {
  margin-top: 1.1em;
}

.ic-text ol,
.ic-text ul {
  list-style: none;

  @include im-breakpoint(lg) {
    padding-left: 2em;
  }
}

.ic-text li {
  padding-left: rem-calc(15);
  position: relative;
}

.ic-text li > ol,
.ic-text li > ul,
.ic-text li + li {
  margin-top: rem-calc(10);
}

.ic-text ul {
  @extend %ic-text-ul !optional;
}

.ic-text ol {
  @extend %ic-text-ol !optional;
  counter-reset: item;
}

.ic-text ol li {
  counter-increment: item;
}

.ic-text .ic-discrete-list,
.ic-discrete-list {
  list-style: unset;
  padding-left: 1.2em;
  font-size: inherit;
}

.ic-discrete-list ul,
.ic-text .ic-discrete-list ul,
.ic-text .ic-discrete-list li + li,
.ic-discrete-list li + li {
  margin-top: unset;
}

.ic-text .ic-discrete-list li,
.ic-discrete-list li {
  padding-left: 0;
}

.ic-text .ic-discrete-list li:before,
.ic-discrete-list li:before {
  content: none;
}

.ic-text .ic-discrete-list ul,
.ic-discrete-list ul {
  list-style: circle;
  margin-left: 1.2em;
  padding-left: 0;
}

/* text variants */

.ic-text small,
.ic-small-text {
  font-size: get($fontSizes, "sm");
  font-size: $small-text;
  line-height: rem-calc(20);
}

/* tables */

.ic-table,
.ic-text table {
  border-collapse: collapse;
}

.ic-table--full {
  width: 100%;
}

.ic-table tbody > tr > td,
.ic-text tbody > tr > td {
  padding: rem-calc(5) rem-calc(20) rem-calc(10);
  border-right: 1px solid rgba(get($colors, "main"), 0.1);
  border-top: 1px solid rgba(get($colors, "main"), 0.5);
}

.ic-table tbody > tr:last-child > td,
.ic-text tbody > tr:last-child > td {
  border-bottom: 1px solid rgba(get($colors, "main"), 0.5);
}

.ic-table tbody > tr > td:last-child,
.ic-text tbody > tr > td:last-child {
  border-right: none;
}

[dir="rtl"] .ic-table tbody > tr > td:last-child,
.ic-text tbody > tr > td:last-child {
  border-left: none;
  border-right: 1px solid rgba(get($colors, "main"), 0.1);
}

.ic-table tfoot > tr > td,
.ic-text tfoot > tr > td {
  @extend .ic-small-text;
  padding: rem-calc(15) 0;
  color: $table-footer-color;
}

.ic-table th,
.ic-text th {
  text-align: start;
  padding: rem-calc(15) rem-calc(20) rem-calc(15);
  background-color: get($colors, "secondary-light");
  font-weight: get($fontWeights, "bold");
  border-right: 1px solid getOpaque("main", 0.1, get($colors, "secondary-light"));
  border-bottom: 1px solid getOpaque("main", 0.5, get($colors, "secondary-light"));
}

[dir="rtl"] .ic-table th,
[dir="rtl"] .ic-text th {
  border-left: 1px solid getOpaque("main", 0.1, get($colors, "secondary-light"));
  border-right: none;
}

.ic-table caption,
.ic-text caption {
  color: rgba(53, 53, 53, 0.6);
  font-size: 1.125em;
  letter-spacing: em-calc(2);
  padding: 0.875rem 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  border-top: rem-calc(1) solid rgba(193, 33, 67, 0.5);
  background: #fff;
}

.ic-table tr > th:last-child,
.ic-text tr > th:last-child {
  border-right: none;
}

.ic-table thead > tr > th:last-child,
.ic-text thead > tr > th:last-child {
  border-top-right-radius: rem-calc(10);
}

[dir="rtl"] .ic-table thead > tr > th:first-child,
[dir="rtl"] .ic-text thead > tr > th:first-child {
  border-top-right-radius: rem-calc(10);
  border-top-left-radius: 0;
  border-right: none;
}

.ic-table thead > tr > th:first-child,
.ic-text thead > tr > th:first-child {
  border-top-left-radius: rem-calc(10);
}

[dir="rtl"] .ic-table thead > tr > th:last-child,
[dir="rtl"] .ic-text thead > tr > th:last-child {
  border-top-left-radius: rem-calc(10);
  border-top-right-radius: 0;
  border-left: none;
  border-right: 1px solid rgba(get($colors, "main"), 0.1);
}

.ic-table tbody > tr > th,
.ic-text tbody > tr > th {
  border-radius: 0;
}

.ic-table-wrapper {
  position: relative;
  overflow-x: auto;
  @include styled-scrollbar($thumb-background: get($colors, "main"));
}

/* Definition list */
dd + dt {
  margin-top: em-calc(10);
}

@mixin definitionList($breakpoint: 1px) {
  @include im-breakpoint($breakpoint) {
    display: grid;
    grid-template-columns: $definition-list-columns;
    grid-template-rows: auto;
    row-gap: em-calc(10);
    column-gap: em-calc(20);
    align-items: baseline;
    dd + dt {
      margin-top: 0;
    }
  }
  dt {
    @extend h4;
  }
}

.ic-definition-list {
  @include definitionList();
}

.ic-definition-list--md {
  @include definitionList("md");
}

.ic-definition-list--lg {
  @include definitionList("lg");
}
