$link-color: get($colors, "cta") !default;
$link-hover-color: get($colors, "cta-dark") !default;
$body-color: get($colors, "text") !default;

$nav-link-color: get($colors, "nav") !default;
$nav-link-hover-color: get($colors, "nav-dark") !default;

@if $use-css-variables {
  :root {
    @each $name, $value in $colors {
      --color-#{$name}: #{$value};
    }
    @each $name, $value in $fonts {
      --font-#{$name}: #{$value};
    }
    @each $name, $value in $textTransform {
      --transform-#{$name}: #{$value};
    }
    @each $name, $value in $fontSizes {
      --fs-#{$name}: #{$value};
    }
    @each $name, $value in $fontWeights {
      --fw-#{$name}: #{$value};
    }
    @each $name, $value in $lineHeights {
      --lh-#{$name}: #{$value};
    }
    @each $name, $value in $radius {
      --radius-#{$name}: #{$value};
    }
    @each $name, $value in $spacing {
      --spacing-#{$name}: #{$value};
    }
    @each $name, $value in $boxShadow {
      --shadow-#{$name}: #{$value};
    }
  }
}

body {
  @include font("body");
  @include background("background");
  @include lineHeight("body");
  color: $body-color;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

[type="button"] {
  line-height: inherit;
  background-color: transparent;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  user-select: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
caption {
  text-rendering: optimizeLegibility;
  overflow-wrap: anywhere;
}

dialog {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  max-width: 100%;
}

ol,
ul,
dl {
  list-style: none;
}

th,
dt {
  font-weight: bold;
}

p + p {
  margin-top: 0.7em;
}

fieldset {
  border: 0;
}

%link,
a {
  color: $link-color;
}

[hidden] {
  display: none !important;
}

[tabindex="-1"]:focus {
  outline: none;
}

%link:visited {
  color: $link-color;
}

%link:hover {
  color: $link-hover-color;
}

/* hr */

.line {
  border: 0;
  height: rem-calc(1);
  background: rgba(151, 151, 151, 0.3);
}

/* this is the main wrapper class. can be added to the body */

.ic-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ic-body > .ic-page {
  flex: auto;
}
.ic-body > .ic-page-header,
.ic-body > .ic-page-footer {
  flex: none;
}
