$focus-offset: 4px !default;

// selector:focus { @include focus-style($color, $offset); }
@mixin focus-style($color: map-get($colors, "black"), $offset: $focus-offset) {
  outline: 2px solid $color;
  outline-offset: $offset;
}

// @include focus-handler($color, $offset)
@mixin focus-handler(
  $color: map-get($colors, "black"),
  $offset: $focus-offset
) {
  &:focus {
    @include focus-style($color, $offset);
  }
}

/* remove focus styles */
@mixin no-focus-handler() {
  &:focus {
    outline: none;
  }
}

// @extend %focus
%focus {
  @include focus-style(map-get($colors, "muted"), $focus-offset);
}

a:focus,
button:focus {
  @extend %focus;
}
