<div class="c-header__navigation">
  <nav class="c-mobilenav-wrapper" id="mobile-nav" aria-hidden="true"></nav>
  <div class="row">
    <div class="columns">
      <nav>
        <ul class="c-toppnav">
          <li class="c-toppnav__item">
            <a
              href="/liv--halsa/"
              aria-expanded="false"
              aria-controls="subnav-3450"
              ><span>Liv &amp; hälsa</span></a
            >
            <div class="c-meganav" id="subnav-3450" aria-hidden="true"></div>
          </li>
          <li class="c-toppnav__item">
            <a
              href="/barn--gravid/"
              aria-expanded="false"
              aria-controls="subnav-3451"
              ><span>Barn &amp; gravid</span></a
            >
            <div class="c-meganav" id="subnav-3451" aria-hidden="true"></div>
          </li>
          <li class="c-toppnav__item">
            <a
              href="/olyckor--skador/"
              aria-expanded="false"
              aria-controls="subnav-3452"
              ><span>Olyckor &amp; skador</span></a
            >
            <div class="c-meganav" id="subnav-3452" aria-hidden="true"></div>
          </li>
          <li class="c-toppnav__item">
            <a
              href="/sjukdomar--besvar/"
              aria-expanded="false"
              aria-controls="subnav-3453"
              ><span>Sjukdomar &amp; besvär</span></a
            >
            <div class="c-meganav" id="subnav-3453" aria-hidden="true"></div>
          </li>
          <li class="c-toppnav__item">
            <a
              href="/behandling--hjalpmedel/"
              aria-expanded="false"
              aria-controls="subnav-3454"
              ><span>Behandling &amp; hjälpmedel</span></a
            >
            <div class="c-meganav" id="subnav-3454" aria-hidden="true"></div>
          </li>
          <li class="c-toppnav__item">
            <a
              href="/sa-fungerar-varden/"
              aria-expanded="false"
              aria-controls="subnav-3455"
              ><span>Så fungerar vården</span></a
            >
            <div class="c-meganav" id="subnav-3455" aria-hidden="true"></div>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
